{%-liquid
	assign ss			=			section.settings
	assign sb			=			section.blocks

	capture section_beBoss
		render '__getParam' with { paramStart: 'section_id=' }
	endcapture
-%}

{% capture sectionHTML %}
	<div class="page-width">
		<div class="be-the-boss-section">
			{% if section.settings.image != blank  %}
			<div class="be-the-boss-image">
				<img class="lazyload"
					src="{{ section.settings.image | img_url: '200x200' }}"
					alt="{{ section.settings.image.alt | escape }}" />
				<div class="be-the-boss-mobile-title">
					<h2>{{ section.settings.title }}</h2>
				</div>
			</div>
			{% endif %}
			<div class="be-the-boss-content">
				{% if section.settings.title != blank  %}
					<h2>{{ section.settings.title }}</h2>
				{% endif %}

				<div class="be-the-boss-bottom-content">
					{% if section.settings.text != blank  %}
						{{ section.settings.text }}
					{% endif %}

					{% if section.settings.button_label != blank and section.settings.button_link != blank %}
					<a class="all-flours-popup" href="{{ section.settings.button_link }}">
						{{ section.settings.button_label | escape }}
					</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="see-all-flours-popup">
		<div class="see-all-flours-popup-container">
			<div class="all-flours-close-popup"></div>
			<div class="see-all-flours-popup-inner">
				<div class="popup-flours-item active">
					<div class="popup-item-title">Recommended flour brands</div>
					<div class="popup-item-content-main">
						<div class="popup-item-content">These flour brands have been tested by our food technicians to provide you the best results when making rotis and puris. We are constantly researching to add more flour brands to this list.</div>

						<div class="flour-brand-details">
							<div class="flour-brand-table">
								<table>
									<thead>
										<tr>
											<th>Flour Name</th>
											<th>Flour Settings</th>
										</tr>
									</thead>
									<tbody>
										{% assign flour_data = settings.flour_data | split: "," %}
										{% for flour in flour_data %}
											<tr>
												<td>{{ flour | split: "|" | first }}</td>
												<td>{{ flour | split: "|" | last }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="popup-flours-item with-blue-bg">
					<div class="popup-item-title">Alternative flour brands </div>
					<div class="popup-item-content-main">
						<div class="popup-item-content">Together with our users, we’ve tested a list of alternative flour brands. For best results, each flour has a recommended setting.</div>

						<div class="flour-brand-details">
							<div class="flour-brand-table">
								<table>
									<thead>
										<tr>
											<th>Flour Name</th>
											<th>Flour Settings</th>
										</tr>
									</thead>
									<tbody>
										{% assign flour_alternative_data = settings.flour_alternative_data | split: "," %}
										{% for flour in flour_alternative_data %}
											<tr>
												<td>{{ flour | split: "|" | first }}</td>
												<td>{{ flour | split: "|" | last }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endcapture %}

{% if ss.onViewLoad %}

	{% if section_beBoss == section.id %}

		{{ sectionHTML }}

	{% else %}

		<div class="onViewLoadSection beBoss" sec-id="{{ section.id }}"></div>

		<script>
			require( `${ asset_url }__isInViewport.js` );

			function onViewLoad__beBoss() {
				const sectionIs             =   `.onViewLoadSection.beBoss`;
				const checkSectionLoaded    =   $( sectionIs ).hasClass( `sectionLoaded` );
				const sectionID             =   $( sectionIs ).attr( `sec-id` );

				if ( checkSectionLoaded == false ) {

					if ( typeof isInViewport === 'function' ) {
						const isVisible     =   isInViewport( sectionIs );

						if ( isVisible ) {

							$( sectionIs ).addClass( 'sectionLoaded' );

							$.get( `/?section_id=${ sectionID }` , function ( r ) {

								$( sectionIs ).html( r );

							});

						}
					}
				}

			}

			let wheeldelta_beBoss = {
				x: 0,
				y: 0
			};
			let wheeling_beBoss;
			$( window ).on('scroll', async function() {
				try {
					clearTimeout( wheeling_beBoss );
					wheeling_beBoss        =   setTimeout(async function() {
						wheeling_beBoss      =   undefined;

						wheeldelta_beBoss.x  =   0;
						wheeldelta_beBoss.y  =   0;

						onViewLoad__beBoss();

					}, 250);

				}
				catch ( err ) {
					console.log ( 'Error Scroll', err.message );
				}
			});
		</script>

	{% endif %}

{% else %}
	{{ sectionHTML }}
{% endif %}

{% schema %}
{
  "name"				: 	"Be the boss",
  "class"				: 	"index-section index-be-the-boss",
  "settings"		: 	[
		{
			"type"      :   "checkbox",
			"id"        :   "onViewLoad",
			"label"     :   "On View Load this section",
			"default"   :   true
		},
		{
			"type"			: 	"image_picker",
			"id"				: 	"image",
			"label"			: 	"Image"
		},
		{
			"type"			: 	"text",
			"id"				: 	"title",
			"label"			: 	"Heading"
		},
		{
			"type"			: 	"richtext",
			"id"				: 	"text",
			"label"			: 	"Description"
		},
		{
			"type"			: 	"text",
			"id"				: 	"button_label",
			"label"			: 	"Button label"
		},
		{
			"type"			: 	"url",
			"id"				: 	"button_link",
			"label"			: 	"Button link"
		}
  ],
  "presets"			: 	[
    {
      "name"			: 	"Be the boss",
      "category"	: 	"Be the boss"
    }
  ]
}
{% endschema %}
