<div class="recipes">
  <div class="page-width text-center">
    {% if section.settings.title != blank %}
      <h2 class="h2">{{ section.settings.title | escape }}</h2>
    {% endif %}

    {% if section.settings.text != blank %}
      <div class="subtitle-text">{{ section.settings.text }}</div>
    {% endif %}

    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}"
        class="btn"
        aria-label="{{ ariaLabel | escape }}">
        {{- section.settings.button_label | escape -}}
      </a>
    {% endif %}
  </div>

  <div class="recipes-slider">
    {% for block in section.blocks %}
      {% assign b = block.settings %}
      <div class="recipes-slider-item">
        {% if b.image != blank %}
          {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
          {%- assign img_url = b.image | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          <div class="feature-row__image-wrapper js">
            {% if b.link != blank %}
              <a href="{{ b.link }}">
            {% endif %}

            <img id="{{ img_id }}"
              class="lazyload"
              src="{{ 'space.gif' | asset_img_url: '200x200' }}"
              data-src="{{ b.image | img_url: '200x200' }}"
              data-sizes="auto"
              alt="{{ b.image.alt | escape }}"
            >

            {% if b.link != blank %}
              </a>
            {% endif %}
          </div>
          <noscript>
            <p>
              {{ b.image | img_url: '200x200' | img_tag: b.image.alt, 'feature-row__image' }}
            </p>
          </noscript>
        {% else %}
          <p>
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </p>
        {% endif %}

        {% if b.title != blank %}
          <h3 class="h3">
            {% if b.link != blank %}
              <a href="{{ b.link }}">
            {% endif %}
              {{ b.title | escape }}
            {% if b.link != blank %}
              </a>
            {% endif %}
          </h3>
        {% endif %}

        {% if b.text != blank %}
          <div class="rte-setting">
            {% if b.link != blank %}
              <a href="{{ b.link }}">
            {% endif %}
              {{ b.text }}
            {% if b.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Recipes",
  "class": "index-section index-recipes",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "More than just Rotis"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Rotimatic is designed as a platform to make any type of flatbread. It connects to the internetand upgrades with features that add more variety to your table and parties.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "recipes_item",
      "name": "Recipes Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Pumpkin Pie"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>A yummy dessert with coconut cream and pumpkin pie spices</p>"
        },
        {
          "type"    :   "url",
          "id"      :   "link",
          "label"   :   "Add Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recipes Slider",
      "category": "Recipes",
      "blocks": [
        {
          "type": "recipes_item"
        },
        {
          "type": "recipes_item"
        },
        {
          "type": "recipes_item"
        }
      ]
    }
  ]
}
{% endschema %}
