<script async src="https://na-library.klarnaservices.com/lib.js" data-client-id="a84e92d4-0c96-5904-b6ac-633bbd3bcf8b"></script>

<script src="https://sdk.helloextend.com/extend-sdk-client/v1/extend-sdk-client.min.js"></script>
<script src="https://sdk.helloextend.com/extend-sdk-client-shopify-addon/v1/extend-sdk-client-shopify-addon.min.js"></script>
<script>Extend.config({ storeId: '2d4fc550-4d7b-4e0a-a098-285a9e4ab60f', environment: 'production' })</script>

<!-- Extend - Render polyfills to enable IE11 support -->
{% render 'extend-polyfills' %}

<!-- Extend - Render aftermarket integration snippet -->
{% render 'extend-aftermarket-integration' %}
<!-- Extend - End Extend code -->

{%-liquid
  assign scssFile         =   'productNewTemp.scss.css' | asset_url
  assign jsFile           =   'productNewTemp.js' | asset_url

  if settings.pdpPage
    render '__loading'
  endif

  echo '<link rel="stylesheet" href="' | append: scssFile | append: '">'

  capture dontUse
    form 'localization'
      assign currentCurrency   =   form.current_currency.iso_code
    endform
  endcapture

  echo '<div class="newTemp">'
    echo '<div class="pageWidth">'
      echo '<div class="_grid_">'

        section 'product-imgGallery'

        echo '<div class="_productDetail_">'

          section 'product-variantTabs'

          section 'product-installment'

          section 'product-detail'

          section 'product-warranty'

          section 'product-paymentBtn'

          render '__productNewTemp_installments', viewAs: 'html', currentCurrency: currentCurrency

        echo '</div>'

      echo '</div>'
    echo '</div>'

    section 'product-usp'

    section 'product-happyMeals'

  echo '</div>'

  comment
    section 'product-newTemp'
  endcomment


  section 'product-specifications'

  section 'product-rotimatic'

  section 'product-here-for-you'

  section 'product-reviews'

  section 'faq'

  comment
    section 'product-recommendations'
  endcomment

-%}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart   :   {{ 'products.product.add_to_cart' | t | json }},
    soldOut     :   {{ 'products.product.sold_out' | t | json }},
    unavailable :   {{ 'products.product.unavailable' | t | json }}
  }

  {% if settings.pdpPage %}
    const pdpCheckRedirect    =     true;
  {% endif %}
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
  {
    "@context"    :   "http://schema.org/",
    "@type"       :   "Product",
    "name"        :   {{ product.title | json }},
    "url"         :   {{ shop.url | append: product.url | json }},
    {%- if product.featured_media -%}
      {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
      "image"     :   [
        {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description" :   {{ product.description | strip_html | json }},
    {%- if current_variant.sku != blank -%}
      "sku"       :   {{ current_variant.sku | json }},
    {%- endif -%}
    "brand"       :   {
      "@type"       :   "Thing",
      "name"        :   {{ product.vendor | json }}
    },
    "offers"      :   [
      {%- for variant in product.variants -%}
        {
          "@type"         :   "Offer",
          {%- if variant.sku != blank -%}
            "sku"         :   {{ variant.sku | json }},
          {%- endif -%}
          "availability"  :   "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price"         :   {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" :   {{ cart.currency.iso_code | json }},
          "url"           :   {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script src="{{ jsFile }}"></script>

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name              :   {{ product.title | json }},
    ProductID         :   {{ product.id | json }},
    Categories        :   {{ product.collections | map: 'title' | json }},
    ImageURL          :   "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL               :   "{{ shop.secure_url }}{{ product.url }}",
    Brand             :   {{ product.vendor | json }},
    Price             :   {{ product.price | money | json }},
    CompareAtPrice    :   {{ product.compare_at_price_max | money | json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title       :   item.Name,
    ItemId      :   item.ProductID,
    Categories  :   item.Categories,
    ImageUrl    :   item.ImageURL,
    Url         :   item.URL,
    Metadata    :   {
      Brand           :   item.Brand,
      Price           :   item.Price,
      CompareAtPrice  :   item.CompareAtPrice
    }
  }]);
</script>