{% assign ss = section.settings %}

<div class="press_blogs">
  {% if ss.title != blank %}
    <h4 class="heading">
      {{ ss.title }}
    </h4>
  {% endif %}

  <div class="press-articles-wrap">

    {% for block in section.blocks %}
      {% assign b         =   block.settings %}
      {% assign article   =   articles[b.articleIs] %}
      <div class="artcleIs_ is_{{ forloop.index }}">
        <div class="blog-img">
          <a href="{{ article.url }}" target="_blank" tabindex="-1">
            <img src="{{ article.image.src | img_url: '700x700' }}" class="blogImageIs" alt="{{ article.title }}">
          </a>
        </div>
        <div class="blog-details">
          <h4 class="blog-headding">
            <a href="{{ article.url }}" target="_blank">
              {{ article.title | truncatewords: 5, '' }}
            </a>
          </h4>
          <div class="blog-desc">
            {{ article.content | strip_html | truncatewords: 20, '...' }}
          </div>
          <a class="blog-view-more" href="{{ article.url }}" target="_blank">
            View More
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if ss.readAllArticle != blank and ss.textLabel != blank %}
    <div class="page-width linkAllArticles">
      <a href="{{ ss.readAllArticle }}" title="View More Blog" target="_blank">
        {{ ss.textLabel }}
      </a>
    </div>
  {% endif %}
</div>

{% if ss.buyNowLink != blank and ss.buyNowLable != blank %}
  <div class="buyNowStrip">
    <a href="{{ ss.buyNowLink }}" class="pressBlog_buy-now" title="{{ ss.buyNowLable }}">
      {{ ss.buyNowLable }}
    </a>
  </div>
{% endif %}


{% schema %}
{
  "name"      :   "Articles",
  "class"     :   "press_Articles",
  "max_blocks":   3,
  "settings"  :   [
    {
      "type"        :   "text",
      "id"          :   "title",
      "label"       :   "Add Heading",
      "default"     :   "What's new at Rotimatic Blog"
    },
    {
      "type"        :   "url",
      "id"          :   "readAllArticle",
      "label"       :   "Link"
    },
    {
      "type"        :   "text",
      "id"          :   "textLabel",
      "label"       :   "Label of Link",
      "default"     :   "Read more articles"
    },
    {
      "type"        :   "url",
      "id"          :   "buyNowLink",
      "label"       :   "Buy Now Link"
    },
    {
      "type"        :   "text",
      "id"          :   "buyNowLable",
      "label"       :   "Label of buy now",
      "default"     :   "Buy Now"
    }
  ],
  "blocks"    :   [
    {
      "type"      :   "articles",
      "name"      :   "Title",
      "settings"  :   [
        {
          "type"      :   "article",
          "id"        :   "articleIs",
          "label"     :   "Select Article to display"
        }
      ]
    }
  ]
}
{% endschema %}

