{%-liquid
	assign ss			    =			section.settings
	assign sb			    =			section.blocks

  assign scssFile   =     'taste-endless.scss.css' | asset_url

	capture section_taste_endless
		render '__getParam' with { paramStart: 'section_id=' }
	endcapture
-%}

<link rel="stylesheet" href="{{ scssFile }}">

{% capture sectionHTML %}
	<div class="taste-endless-section">
		<div class="taste-heading-section">
			{% if ss.title != blank and ss.content != blank %}
				<div class="heading-section">
					<h2>{{ ss.title | escape }}</h2>
					<div class="heading-content">{{ ss.content }}</div>
				</div>
			{% endif %}

			<div class="taste-roti-items-mobile">
				{% for block in sb %}
					{% assign b		=		block.settings %}
					{% if block.type == 'roti_item' %}
						<div class="taste-roti-item-mobile">
							{% if b.item_image != blank %}
								<div class="image">
									<img class="lazyload"
										src="{{ b.item_image | img_url: 'master' }}"
										alt="{{ b.item_image.alt | escape }}"
										width="90"
										height="90"
									>
								</div>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="taste-roti-item-section">
			<div class="taste-roti-items">
				{% for block in sb %}
					{% assign b		=		block.settings %}
					{% if block.type == 'roti_item' %}
						<div class="taste-roti-item">
							{% if b.item_image != blank %}
							<div class="image">
								<img class="lazyload"
									src="{{ b.item_image | img_url: '90x90' }}"
									alt="{{ b.item_image.alt | escape }}"
									width="90"
									height="90"
								>
							</div>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</div>

			{% if ss.image != blank %}
				<div class="taste-roti-main-image">
					<img class="lazyload"
						src="{{ ss.image | img_url: '400x400' }}"
						alt="{{ ss.image.alt | escape }}"
						width="400"
						height="400"
					>
				</div>
			{% endif %}
		</div>
	</div>
{% endcapture %}


{% if ss.onViewLoad %}

	{% if section_taste_endless == section.id %}

		{{ sectionHTML }}

	{% else %}

		<div class="onViewLoadSection taste_endless" sec-id="{{ section.id }}"></div>

		<script>

			window.addEventListener('load', function() {

				setTimeout(()=>{
					onViewLoad__taste_endless( 'onload' );
				}, {{ ss.loadAfter | times: 1000 }});
			});

			function onViewLoad__taste_endless( typeIs = '' ) {
				const sectionIs             =   `.onViewLoadSection.taste_endless`;
				const checkSectionLoaded    =   $( sectionIs ).hasClass( `sectionLoaded` );
				const sectionID             =   $( sectionIs ).attr( `sec-id` );

				if ( checkSectionLoaded == false ) {


					const isVisible     =   isInViewport( sectionIs );

					if ( isVisible || typeIs == 'onload' ) {

						$( sectionIs ).addClass( 'sectionLoaded' );

						$.get( `/?section_id=${ sectionID }` , function ( r ) {

							$( sectionIs ).html( r );

						});

					}
				}

			}

			let wheeldelta_taste_endless = {
				x: 0,
				y: 0
			};
			let wheeling_taste_endless;
			$( window ).on('scroll', async function() {
				try {
					clearTimeout( wheeling_taste_endless );
					wheeling_taste_endless        =   setTimeout(async function() {
						wheeling_taste_endless      =   undefined;

						wheeldelta_taste_endless.x  =   0;
						wheeldelta_taste_endless.y  =   0;

						onViewLoad__taste_endless();

					}, 250);

				}
				catch ( err ) {
					console.log ( 'Error Scroll', err.message );
				}
			});
		</script>

	{% endif %}

{% else %}
	{{ sectionHTML }}
{% endif %}


{% schema %}
{
  "name": "Taste Endless",
  "class": "index-section taste-endless",
  "settings": [
		{
			"type"      :   "checkbox",
			"id"        :   "onViewLoad",
			"label"     :   "On View Load this section",
			"default"   :   true
		},
    {
      "type"      :   "range",
      "id"        :   "loadAfter",
      "label"     :   "Self Load after",
      "unit"      :   "sec",
      "min"       :   1,
      "max"       :   20,
      "step"      :   1,
      "default"   :   5
    },
    {
      "type": "text",
	  	"id": "title",
	  	"label": "Heading",
	  	"default": "Taste the endless possibilities"
		},
		{
      "type": "richtext",
	  	"id": "content",
	  	"label": "Content",
	  	"default": "<p>Unlimited new features at no additional cost</p>"
		},
		{
      "type": "image_picker",
	  	"id": "image",
	  	"label": "Image"
		}
  ],
  "blocks": [
    {
      "type": "roti_item",
	  	"name": "Roti Item",
	  	"settings": [
        {
          "type": "image_picker",
		  		"id": "item_image",
		  		"label": "Image"
				}
	  	]
		}
  ],
  "presets": [
    {
      "name": "Taste Endless",
      "category": "Custom Block"
    }
  ]
}
{% endschema %}
