{%-liquid
  capture dontUse
    form 'localization'
      assign currentCurrency   =   form.current_currency.iso_code
      assign currencySymbol    =   form.current_currency.symbol
    endform
  endcapture

  assign totalPrice            =    0
-%}

<table currency-symbol="{{ currencySymbol }}" currency-selected="{{ currentCurrency }}">
  <thead class="cart__row cart__row--heading">
    <th scope="col">{{ 'cart.label.product' | t }}</th>
    <th class="text-right" scope="col">{{ 'cart.label.price' | t }}</th>
    <th class="text-right _qtyCol_" scope="col">{{ 'cart.label.quantity' | t }}</th>
    <th class="text-right small--hide _total_" scope="col">{{ 'cart.label.total' | t }}</th>
  </thead>
  <tbody data-cart-line-items>
    {%-liquid
      assign warrantyForRotimatic         =   0
      assign warrantyForRemanufactured    =   0
      assign extendWarranty               =   false
      for item in cart.items
        if item.product.type == 'Machine'
          if item.title contains 'Rotimatic'
            assign warrantyForRotimatic         =   warrantyForRotimatic | plus: item.quantity
          elsif item.title contains 'Remanufactured'
            assign warrantyForRemanufactured    =   warrantyForRemanufactured | plus: item.quantity
          endif
        elsif item.product.type == 'Extend Service Contract'
          assign extendWarranty     =   true
        endif
      endfor

      assign productTypeMachine     =   0

      if extendWarranty
        assign cartItems_reverse    =   cart.items | sort: 'title' | reverse
      else
        assign cartItems_reverse    =   cart.items | sort: 'title'
      endif
      assign cartItems              =   cart.items
    -%}
    {%- for item in cartItems_reverse -%}
      {% if item.product.type != 'Accessories' %}
        {%-liquid
          for cartIndex in cartItems
            if item.variant_id == cartIndex.variant_id
              assign exactIndex     =   forloop.index
              break
            endif
          endfor
          assign warrantyInclude    =   ''

          if item.product.type == 'warranty'
            capture warrantyInclude
              for option in variant_options
                echo option.value | append: ' '
              endfor
            endcapture
          endif

          assign qtyField           =   ''

          for tag in item.product.tags
            if tag == 'warranty_can_buy_once'
              assign qtyField       =   'readonly'
              break
            endif
          endfor

          assign totalPrice         =   item.final_line_price | plus: totalPrice
        -%}

        <tr
          {%-liquid
            echo ' class="cart__row ' | append: qtyField | append: '"'
            echo ' data-cart-item '
            echo ' data-cart-item-key="' | append: item.key | append: '" '
            echo ' vid="' | append: item.variant_id | append: '" '
            echo ' product-type="' | append: item.product.type | append: '" '
            echo ' data-cart-item-url="' | append: item.url | append: '" '
            echo ' data-cart-item-title="' | append: item.title | append: '" '
            echo ' data-cart-item-index="' | append: exactIndex | append: '" '
            echo ' data-cart-item-quantity="' | append: item.quantity | append: '" '
            assign itemFinalLine_price    =   item.final_line_price | money_without_currency
            echo ' final-price="' | append: itemFinalLine_price | append: '"'
            if item.product.type == 'Machine'
              if item.product.title contains 'Rotimatic'
                echo 'machine-type="rotimatic"'
              elsif item.product.title contains 'Remanufactured'
                echo 'machine-type="remanufactured"'
              endif
            endif

            if item.product.type == 'warranty'
              if item.title contains 'Rotimatic'
                echo 'warranty-type="rotimatic"'
              elsif item.title contains 'Remanufactured'
                echo 'warranty-type="remanufactured"'
              endif
            endif

            if item.product.type == 'Extend Service Contract' or item.product.type == 'warranty'
              for p in item.properties
                if p.first == 'Ref'
                  echo ' matching-vid="' | append: p.last | append: '"'
                endif
              endfor
            endif
          -%}
        >
          <td class="cart__meta small--text-left" data-cart-table-cell>
            {%-liquid
              echo '<div class="cart__product-information">'
                echo '<div class="cart__image-wrapper">'
                  assign itemImg    =   item | img_url: 'x190'
                  assign itemImgAlt =   item.image.alt | escape
                  if qtyField == 'readonly'
                    echo '<img class="cart__image'
                      if item.image == null
                        echo ' hide '
                      endif
                    echo '" src="' | append: itemImg | append: '" alt="' | append: itemImgAlt | append: '" data-cart-item-image>'
                  else
                    echo '<img class="cart__image'
                      if item.image == null
                        echo ' hide '
                      endif
                    echo '" src="' | append: itemImg | append: '" alt="' | append: itemImgAlt | append: '" data-cart-item-image>'
                  endif
                echo '</div>'


                echo '<div>'
                  echo '<div class="list-view-item__title">'
                    if qtyField == 'readonly'
                      echo item.product.title
                    else
                      if item.product.type == 'Machine'
                        echo '<a href="/products/rotimatic?variant=' | append: item.variant_id | append: '" class="cart__product-title" data-cart-item-title>'
                          echo item.product.title
                        echo '</a>'
                      else
                        echo '<a href="' | append: item.url | append: '" class="cart__product-title" data-cart-item-title>'
                          echo item.product.title
                        echo '</a>'
                      endif
                    endif

                    if item.product.type == 'Machine'
                      assign productTypeMachine   =   productTypeMachine | plus: item.quantity
                      echo '<div class="productTypeMachine">'
                        echo 'cart.general.productTypeMachine' | t
                      echo '</div>'
                    else
                      echo ''
                    endif

                    echo '<span class="sku" style="display:none">'
                      echo item.sku
                    echo '</span>'
                  echo '</div>'

                  assign variant_options      =   'template ' | split: ' '

                  if item.product.has_only_default_variant != true
                    assign variant_options    =   item.options_with_values
                  endif
                  assign property_size        =   item.properties | size

                  echo '<ul class="product-details'
                    if item.product.has_only_default_variant and property_size == 0
                      echo ' hide '
                    endif
                    echo '" '
                    echo 'data-cart-item-details '
                    echo ' aria-label="'
                      echo 'cart.label.product_details' | t
                    echo '"'
                  echo '>'
                    if item.product.type != 'Extend Service Contract'
                      for option in variant_options
                        echo '<li class="product-details__item product-details__item--variant-option '
                          if item.product.has_only_default_variant
                            echo 'hide'
                          endif
                        echo '" data-cart-item-option>'
                          echo option.name | append: ': ' | append: option.value
                        echo '</li>'
                      endfor
                    endif

                    assign properties     =   'template ' | split: ' '
                    if property_size > 0
                      assign properties   =   item.properties
                    endif


                    for p in properties
                      unless p.last == blank or p.first contains 'pf'
                        echo '<li class="product-details__item product-details__item--property'
                          if property_size == 0
                            echo ' hide'
                          endif
                        echo '" data-cart-item-property>'
                          echo '<span class="product-details__item-label" data-cart-item-property-name>' | append: p.first | append: ': </span>'

                          echo '<span data-cart-item-property-value>'
                            if p.last contains '/uploads/'
                              echo '<a href="' | append: p.last | append: '">'
                                echo p.last | split: '/' | last
                              echo '</a>'
                            else
                              echo p.last
                            endif
                          echo '</span>'
                        echo '</li>'
                      endunless
                    endfor
                  echo '</ul>'

                  echo '<p class="cart__remove">'
                    echo '<a href="/cart/change?line=' | append: exactIndex | append: '&amp;quantity=0" class="text-link text-link--accent removeCartItemLink">'
                      echo 'cart.general.remove' | t
                    echo '</a>'
                  echo '</p>'
                echo '</div>'
              echo '</div>'
            -%}

          </td>
          <td class="cart__price text-right">

            {%-liquid
              assign hasDiscount      =   false
              if item.original_price != item.final_price
                assign hasDiscount      =   true
              endif

              echo '<div data-cart-item-price>'
                echo '<dl data-cart-item-price-list>'
                  echo '<div '
                    unless hasDiscount
                      echo ' class="hide" '
                    endunless
                  echo ' data-cart-item-discounted-price-group>'
                    echo '<dt>'
                      echo '<span class="visually-hidden">'
                        echo 'products.product.regular_price' | t
                      echo '</span>'
                    echo '</dt>'
                    echo '<dd>'
                      echo '<s data-cart-item-original-price>'
                        echo item.original_price | money
                      echo '</s>'
                    echo '</dd>'
                    echo '<dt>'
                      echo '<span class="visually-hidden">'
                        echo 'products.product.sale_price' | t
                      echo '</span>'
                    echo '</dt>'
                    echo '<dd>'
                      echo '<span class="order-discount" data-cart-item-final-price>'
                        echo item.final_price | money
                      echo '</span>'
                    echo '</dd>'
                  echo '</div>'

                  echo '<div '
                    if hasDiscount
                      echo ' class="hide" '
                    endif
                  echo ' data-cart-item-regular-price-group>'
                    echo '<dt>'
                      echo '<span class="visually-hidden">'
                        echo 'products.product.regular_price' | t
                      echo '</span>'
                    echo '</dt>'
                    echo '<dd data-cart-item-regular-price>'
                      echo item.original_price | money
                    echo '</dd>'
                  echo '</div>'

                  echo '<div '
                    unless item.unit_price_measurement
                      echo ' class="hide" '
                    endunless
                  echo ' data-unit-price-group>'
                    echo '<dt>'
                      echo '<span class="visually-hidden visually-hidden--inline">'
                        echo 'products.product.unit_price_label' | t
                      echo '</span>'
                    echo '</dt>'
                    echo '<dd>'
                      echo '<span class="price-unit-price">'
                        capture unit_price_separator
                          echo '<span aria-hidden="true">/</span><span class="visually-hidden">'
                            echo 'general.accessibility.unit_price_separator' | t
                          echo '&nbsp;</span>'
                        endcapture
                        capture unit_price_base_unit
                          if item.unit_price_measurement.reference_value != 1
                            echo item.unit_price_measurement.reference_value
                          endif
                          echo item.unit_price_measurement.reference_unit
                        endcapture

                        echo '<span data-unit-price>'
                          echo item.unit_price | money
                        echo '</span>'
                        echo unit_price_separator
                        echo '<span data-unit-price-base-unit>'
                          echo unit_price_base_unit
                        echo '</span>'
                      echo '</span>'
                    echo '</dd>'
                  echo '</div>'
                echo '</dl>'
              echo '</div>'

              assign itemDiscounts      =   'template ' | split: ' '
              if item.line_level_discount_allocations != blank
                assign itemDiscounts      =   item.line_level_discount_allocations
              endif

              echo '<ul class="order-discount order-discount--list order-discount--title order-discount--cart'
                if item.line_level_discount_allocations == blank
                  echo ' hide '
                endif
                echo '" aria-label="'
                  echo 'customer.order.discount' | t
                echo '" data-cart-item-discount-list'
              echo '>'
                for discount_allocation in itemDiscounts
                  echo '<li class="order-discount__item" data-cart-item-discount>'
                    include 'icon-saletag'
                    echo '<span data-cart-item-discount-title>'
                      echo discount_allocation.discount_application.title
                    echo '</span> '
                    echo '(-<span data-cart-item-discount-amount>'
                      echo discount_allocation.amount | money
                    echo '</span>)'
                  echo '</li>'
                endfor
              echo '</ul>'

              echo '<div class="cart__qty medium-up--hide">'
                echo '<label for="updates_' | append: item.key | append: '" class="cart__qty-label" aria-label="'
                  echo 'cart.label.quantity' | t
                echo '" data-quantity-label-mobile'
                echo '>'
                  echo 'cart.label.qty' | t
                echo '</label>'

                echo '<div class="qtyUpdateForMobile">'
                  echo '<span class="minusBtn"> - </span>'
                  echo '<input id="updates_' | append: item.key | append: '" class="cart__qty-input" type="number" '
                    if item.product.type == 'Machine'
                      echo ' max="4" pattern="[0-4]*" limit="0-4" '
                    elsif item.product.type == 'Extend Service Contract'
                      echo ' max="4" pattern="[0-4]*" limit="0-4" '
                    elsif item.product.type == 'warranty'
                      if item.title contains 'Rotimatic'
                        echo ' testing="' | append: warrantyForRotimatic | append: '" '
                        echo ' max="' | append: warrantyForRotimatic | append: '" pattern="[0-' | append: warrantyForRotimatic | append: ']*" limit="0-' | append: warrantyForRotimatic | append: '" '
                      elsif item.title contains 'Remanufactured'
                        echo ' testing="' | append: warrantyForRemanufactured | append: '" max="' | append: warrantyForRemanufactured | append: '" pattern="[0-' | append: warrantyForRemanufactured | append: ']*" limit="0-' | append: warrantyForRemanufactured | append: '" '
                      endif
                      echo ' data-quantity-input '
                    else
                      echo ' pattern="[0-9]*" max="4" '
                    endif
                    echo ' value="' | append: item.quantity | append: '" min="0" data-quantity-item="' | append: exactIndex | append: '" data-quantity-input-mobile '
                  echo '>'
                  echo '<span class="plusBtn"> + </span>'
                echo '</div>'
              echo '</div>'


              echo '<div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--mobile hide" role="alert" data-cart-quantity-error-message-wrapper>'
                echo '<span class="visually-hidden">'
                  echo 'general.accessibility.error' | t
                echo ' </span>'
                include 'icon-error'
                echo '<span class="cart__qty-error-message" data-cart-quantity-error-message></span>'
              echo '</div>'
            -%}
          </td>

          <td class="cart__quantity-td text-right _qtyCol_">
            {%-liquid
              echo '<div class="cart__qty">'
                echo '<label for="updates_large_' | append: item.key | append: '" class="cart__qty-label" data-quantity-label-desktop>'
                  echo 'cart.label.quantity' | t
                echo '</label>'
                echo '<input '
                  echo 'id="updates_large_' | append: item.key | append: '" class="cart__qty-input" type="number" '
                  if item.product.type == 'Machine'
                    echo 'max="4" pattern="[0-4]*" limit="0-4" '
                  elsif item.product.type == 'Extend Service Contract'
                    echo ' max="4" pattern="[0-4]*" limit="0-4" '
                  elsif item.product.type == 'warranty'
                    if item.title contains 'Rotimatic'
                      echo ' testing="' | append: warrantyForRotimatic | append: '" '
                      echo ' max="' | append: warrantyForRotimatic | append: '" '
                      echo ' pattern="[0-' | append: warrantyForRotimatic | append: ']*" '
                      echo ' limit="0-' | append: warrantyForRotimatic | append: '" '
                    elsif item.title contains 'Remanufactured'
                      echo ' testing="' | append: warrantyForRemanufactured | append: '" '
                      echo ' max="' | append: warrantyForRemanufactured | append: '" '
                      echo ' pattern="[0-' | append: warrantyForRemanufactured | append: ']*" '
                      echo ' limit="0-' | append: warrantyForRemanufactured | append: '" '
                    endif
                    comment
                      echo ' data-quantity-input '
                    endcomment
                  else
                    echo ' max="4" pattern="[0-9]*" '
                  endif
                  echo ' name="updates[]" '
                  echo ' value="' | append: item.quantity | append: '" '
                  echo ' min="0" '
                  echo ' data-quantity-item="' | append: exactIndex | append: '" '
                  echo ' data-quantity-input-desktop '
                echo '>'
              echo '</div>'

              echo '<div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--desktop hide" role="alert" data-cart-quantity-error-message-wrapper>'
                echo '<span class="visually-hidden">'
                  echo 'general.accessibility.error' | t
                echo '</span>'
                include 'icon-error'
                echo '<span class="cart__qty-error-message" data-cart-quantity-error-message></span>'
              echo '</div>'
            -%}
          </td>
          <td class="cart__final-price text-right small--hide _total_" data-cart-item-line-price>
            {%-liquid
              echo '<dl '
                unless item.original_line_price != item.final_line_price
                  echo ' class="hide" '
                endunless
                echo 'data-cart-item-discounted-price-group'
              echo '>'
                echo '<dt>'
                  echo '<span class="visually-hidden">'
                    echo 'cart.label.regular_total' | t
                  echo '</span>'
                echo '</dt>'
                echo '<dd>'
                  echo '<s data-cart-item-original-price>'
                    echo item.original_line_price | money
                  echo '</s>'
                echo '</dd>'
                echo '<dt>'
                  echo '<span class="visually-hidden">'
                    echo 'cart.label.discounted_total' | t
                  echo '</span>'
                echo '</dt>'
                echo '<dd>'
                  echo '<span class="order-discount" data-cart-item-final-price>'
                    echo item.final_line_price | money
                  echo '</span>'
                echo '</dd>'

              echo '</dl>'

              echo '<div '
                if item.original_line_price != item.final_line_price
                  echo ' class="hide" '
                endif
                echo 'data-cart-item-regular-price-group'
              echo '>'
                echo '<span data-cart-item-regular-price>'
                  echo item.original_line_price | money
                echo '</span>'
              echo '</div>'
            -%}
          </td>

        </tr>
      {% endif %}
    {%- endfor -%}

    {%- for item in cartItems_reverse -%}
      {% if item.product.type == 'Accessories' %}
        {%-liquid
          for cartIndex in cartItems
            if item.variant_id == cartIndex.variant_id
              assign exactIndex   =   forloop.index
              break
            endif
          endfor
          assign warrantyInclude    =   ''

          if item.product.type == 'warranty'
            capture warrantyInclude
              for option in variant_options
                echo option.value | append: ' '
              endfor
            endcapture
          endif

          assign qtyField           =   ''

          for tag in item.product.tags
            if tag == 'warranty_can_buy_once'
              assign qtyField   =   'readonly'
              break
            endif
          endfor

          assign totalPrice     =   item.final_line_price | plus: totalPrice
        -%}

        <tr class="cart__row {{ qtyField }}"
          data-cart-item
          data-cart-item-key="{{ item.key }}"
          vid="{{ item.variant_id }}"
          product-type="{{ item.product.type }}"
          data-cart-item-url="{{ item.url }}"
          data-cart-item-title="{{ item.title }}"
          data-cart-item-index="{{ exactIndex }}"
          data-cart-item-quantity="{{ item.quantity }}"
          final-price="{{ item.final_line_price | money_without_currency }}"
          {%-liquid
            if item.product.type == 'Machine'
              if item.product.title contains 'Rotimatic'
                echo ' machine-type="rotimatic" '
              elsif item.product.title contains 'Remanufactured'
                echo ' machine-type="remanufactured" '
              endif
            endif

            if item.product.type == 'warranty'
              if item.title contains 'Rotimatic'
                echo ' warranty-type="rotimatic" '
              elsif item.title contains 'Remanufactured'
                echo ' warranty-type="remanufactured" '
              endif
            endif

            if item.product.type == 'Extend Service Contract'
              for p in item.properties
                if p.first == 'Ref'
                  echo ' matching-vid="' | append: p.last | append: '" '
                endif
              endfor
            endif
          -%}
        >
          <td class="cart__meta small--text-left" data-cart-table-cell>
            <div class="cart__product-information">
              <div class="cart__image-wrapper">
                {% if qtyField == 'readonly' %}
                  <img class="cart__image{% if item.image == null %} hide{% endif %}" src="{{ item | img_url: 'x190' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
                {% else %}
                  <img class="cart__image{% if item.image == null %} hide{% endif %}" src="{{ item | img_url: 'x190' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
                {% endif %}
              </div>
              <div>
                <div class="list-view-item__title">
                  {% if qtyField == 'readonly' %}
                    {{ item.product.title }}
                  {% else %}
                    {% if item.product.type == 'Machine' %}
                      <a href="{{ '/products/rotimatic?variant=' | append: item.variant_id }}" class="cart__product-title" data-cart-item-title>
                        {{ item.product.title }}
                      </a>
                    {% else %}
                      <a href="{{ item.url }}" class="cart__product-title" data-cart-item-title>
                        {{ item.product.title }}
                      </a>
                    {% endif %}
                  {% endif %}
                  {%-liquid
                    if item.product.type == 'Machine'
                      assign productTypeMachine   =   productTypeMachine | plus: item.quantity
                      echo '<div class="productTypeMachine">'
                        echo 'cart.general.productTypeMachine' | t
                      echo '</div>'
                    else
                      echo ''
                    endif
                  -%}

                  <span class="sku" style="display:none">
                    {{ item.sku }}
                  </span>
                </div>

                {%- assign variant_options = 'template ' | split: ' ' -%}
                {%- if item.product.has_only_default_variant != true -%}
                  {%- assign variant_options = item.options_with_values -%}
                {%- endif -%}
                {%- assign property_size = item.properties | size -%}

                <ul class="product-details{% if item.product.has_only_default_variant and property_size == 0 %} hide{% endif %}" data-cart-item-details aria-label="{{ 'cart.label.product_details' | t }}">
                  {%- if item.product.type != 'Extend Service Contract' -%}
                    {%- for option in variant_options -%}
                      <li class="product-details__item product-details__item--variant-option{% if item.product.has_only_default_variant %} hide{% endif %}" data-cart-item-option>{{ option.name }}: {{ option.value }}</li>
                    {%- endfor -%}
                  {%- endif -%}

                  {%- assign properties = 'template ' | split: ' ' -%}
                  {%- if property_size > 0 -%}
                    {%- assign properties = item.properties -%}
                  {%- endif -%}

                  {%- for p in properties -%}
                    {%- unless p.last == blank or p.first contains 'pf' -%}
                      <li class="product-details__item product-details__item--property{%if property_size == 0%} hide{% endif %}" data-cart-item-property>
                        <span class="product-details__item-label" data-cart-item-property-name>{{ p.first }}: </span>

                        <span data-cart-item-property-value>
                          {%- if p.last contains '/uploads/' -%}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {%- else -%}
                            {{ p.last }}
                          {%- endif -%}
                        </span>
                      </li>
                    {%- endunless -%}
                  {%- endfor -%}
                </ul>

                <p class="cart__remove">
                  <a href="/cart/change?line={{ exactIndex }}&amp;quantity=0" class="text-link text-link--accent removeCartItemLink">{{ 'cart.general.remove' | t }}</a>
                </p>
              </div>
            </div>

          </td>
          <td class="cart__price text-right">

            {%- assign hasDiscount = false -%}
            {%- if item.original_price != item.final_price -%}
              {%- assign hasDiscount = true -%}
            {%- endif -%}

            <div data-cart-item-price>
              <dl data-cart-item-price-list>
                <div {% unless hasDiscount %}class="hide" {% endunless %}data-cart-item-discounted-price-group>
                  <dt>
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  </dt>
                  <dd>
                    <s data-cart-item-original-price>{{ item.original_price | money }}</s>
                  </dd>
                  <dt>
                    <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                  </dt>
                  <dd>
                    <span class="order-discount" data-cart-item-final-price>{{ item.final_price | money }}</span>
                  </dd>
                </div>

                <div {% if hasDiscount %}class="hide" {% endif %}data-cart-item-regular-price-group>
                  <dt>
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  </dt>
                  <dd data-cart-item-regular-price>
                    {{ item.original_price | money }}
                  </dd>
                </div>

                <div {% unless item.unit_price_measurement %}class="hide" {% endunless %}data-unit-price-group>
                  <dt>
                    <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                  </dt>
                  <dd>
                    <span class="price-unit-price">
                      {%- capture unit_price_separator -%}
                        <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                      {%- endcapture -%}
                      {%- capture unit_price_base_unit -%}
                        {%- if item.unit_price_measurement.reference_value != 1 -%}
                          {{- item.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ item.unit_price_measurement.reference_unit }}
                      {%- endcapture -%}

                      <span data-unit-price>{{ item.unit_price | money }}</span>{{- unit_price_separator -}}<span data-unit-price-base-unit>{{- unit_price_base_unit -}}</span>
                    </span>
                  </dd>
                </div>
              </dl>
            </div>

            {%- assign itemDiscounts = 'template ' | split: ' ' -%}
            {%- if item.line_level_discount_allocations != blank -%}
              {%- assign itemDiscounts = item.line_level_discount_allocations -%}
            {%- endif -%}

            <ul class="order-discount order-discount--list order-discount--title order-discount--cart{% if item.line_level_discount_allocations == blank %} hide{% endif %}" aria-label="{{ 'customer.order.discount' | t }}" data-cart-item-discount-list>
              {%- for discount_allocation in itemDiscounts -%}
                <li class="order-discount__item" data-cart-item-discount>
                  {% include 'icon-saletag' %}
                  <span data-cart-item-discount-title>
                    {{- discount_allocation.discount_application.title -}}
                  </span> (-<span data-cart-item-discount-amount>{{ discount_allocation.amount | money }}</span>)
                </li>
              {%- endfor -%}
            </ul>

            <div class="cart__qty medium-up--hide">
              <label for="updates_{{ item.key }}" class="cart__qty-label" aria-label="{{ 'cart.label.quantity' | t }}" data-quantity-label-mobile>
                {{ 'cart.label.qty' | t }}
              </label>
              <div class="qtyUpdateForMobile">
                <span class="minusBtn">
                  -
                </span>
                <input id="updates_{{ item.key }}" class="cart__qty-input" type="number"
                  {% if item.product.type == 'Machine' %}
                    max="4"
                    pattern="[0-4]*"
                    limit="0-4"
                  {% elsif item.product.type == 'Extend Service Contract' %}
                    max="4"
                    pattern="[0-4]*"
                    limit="0-4"
                  {% elsif item.product.type == 'warranty' %}
                    {% if item.title contains 'Rotimatic' %}
                      testing="{{ warrantyForRotimatic }}"
                      max="{{ warrantyForRotimatic }}"
                      pattern="[0-{{ warrantyForRotimatic }}]*"
                      limit="0-{{ warrantyForRotimatic }}"
                    {% elsif item.title contains 'Remanufactured' %}
                      testing="{{ warrantyForRemanufactured }}"
                      max="{{ warrantyForRemanufactured }}"
                      pattern="[0-{{ warrantyForRemanufactured }}]*"
                      limit="0-{{ warrantyForRemanufactured }}"
                    {% endif %}
                    data-quantity-input
                  {% else %}
                    pattern="[0-9]*"
                    max="4"
                  {% endif %}
                  value="{{ item.quantity }}"
                  min="0"
                  data-quantity-item="{{ exactIndex }}"
                  data-quantity-input-mobile
                >
                <span class="plusBtn">
                  +
                </span>
              </div>
            </div>
            <div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--mobile hide" role="alert" data-cart-quantity-error-message-wrapper>
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
            </div>
          </td>

          <td class="cart__quantity-td text-right _qtyCol_">
            <div class="cart__qty">
              <label for="updates_large_{{ item.key }}" class="cart__qty-label" data-quantity-label-desktop>{{ 'cart.label.quantity' | t }}</label>
              <input id="updates_large_{{ item.key }}" class="cart__qty-input" type="number"
                {% if item.product.type == 'Machine' %}
                  max="4"
                  pattern="[0-4]*"
                  limit="0-4"
                {% elsif item.product.type == 'Extend Service Contract' %}
                  max="4"
                  pattern="[0-4]*"
                  limit="0-4"
                {% elsif item.product.type == 'warranty' %}
                  {% if item.title contains 'Rotimatic' %}
                    testing="{{ warrantyForRotimatic }}"
                    max="{{ warrantyForRotimatic }}"
                    pattern="[0-{{ warrantyForRotimatic }}]*"
                    limit="0-{{ warrantyForRotimatic }}"
                  {% elsif item.title contains 'Remanufactured' %}
                    testing="{{ warrantyForRemanufactured }}"
                    max="{{ warrantyForRemanufactured }}"
                    pattern="[0-{{ warrantyForRemanufactured }}]*"
                    limit="0-{{ warrantyForRemanufactured }}"
                  {% endif %}
                  data-quantity-input
                {% else %}
                  max="4"
                  pattern="[0-9]*"
                {% endif %}
                name="updates[]"
                value="{{ item.quantity }}"
                min="0"
                data-quantity-item="{{ exactIndex }}"
                data-quantity-input-desktop
              >
            </div>
            <div class="cart__qty-error-message-wrapper cart__qty-error-message-wrapper--desktop hide" role="alert" data-cart-quantity-error-message-wrapper>
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
              <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
            </div>
          </td>
          <td class="cart__final-price text-right small--hide _total_" data-cart-item-line-price>
            <dl {% unless item.original_line_price != item.final_line_price %}class="hide" {% endunless %}data-cart-item-discounted-price-group>
              <dt>
                <span class="visually-hidden">{{ 'cart.label.regular_total' | t }}</span>
              </dt>
              <dd>
                <s data-cart-item-original-price>{{ item.original_line_price | money }}</s>
              </dd>
              <dt>
                <span class="visually-hidden">{{ 'cart.label.discounted_total' | t }}</span>
              </dt>
              <dd>
                <span class="order-discount" data-cart-item-final-price>{{ item.final_line_price | money }}</span>
              </dd>
            </dl>

            <div {% if item.original_line_price != item.final_line_price %}class="hide" {% endif %}data-cart-item-regular-price-group>
              <span data-cart-item-regular-price>{{ item.original_line_price | money }}</span>
            </div>
          </td>

        </tr>
      {% endif %}
    {%- endfor -%}
  </tbody>
</table>

<script>
  var productTypeMachine    =   {{ productTypeMachine }};
  var totalCartPrice        =   `{{ totalPrice | money_with_currency | strip_html }}`;

  localStorage.setItem( `cartItemCount__`, `{{ cart.item_count | default: 0 }}` );
</script>
