{%-liquid
	assign ss			=			section.settings
	assign sb			=			section.blocks

	capture section_galleryGrid
		render '__getParam' with { paramStart: 'section_id=' }
	endcapture
-%}

{% capture sectionHTML %}
  <div class="gallery-wrapper">
    <div class="gallery">
      {% for block in section.blocks %}
          {% if block.type == 'main_block' %}
            <div class="gallery-main-block" style="background-image: url({{ block.settings.image | img_url: '400x400' }});">
              <div class="gallery-main-content">
                {% if block.settings.show_play_icon %}
          <a
          {% if block.settings.button_popup %}
            data-fancybox="" data-options="{"iframe" : {"css" : {"width" : "80%", "height" : "80%"}}}"
          {% endif %} class="gallery-popup" href="{{ block.settings.button_link }}" aria-label="{{ ariaLabel }}">
            <img class="lazyload"
            src="{{ block.settings.play_icon | img_url: 'master' }}"
            alt="{{ block.settings.play_icon.alt | escape }}" />
          </a>
          {% endif %}
                {% if block.settings.title != blank %}
                  <h2 class="h2">{{ block.settings.title | escape }}</h2>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="gallery-description">{{ block.settings.text }}</div>
                {% endif %}
          {% if block.settings.show_play_icon == false %}
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            <a href="{{ block.settings.button_link }}"
              class="btn btn--secondary">
              {{- block.settings.button_label | escape -}}
            </a>
            {% endif %}
          {% endif %}
              </div>
            </div>
          {% endif %}
      {% endfor %}

      <div class="gallery-others">
        {% for block in section.blocks %}
          {% assign b = block.settings %}
          {% if block.type == 'other_block' %}
            {% if b.link != blank %}
              <a href="{{ b.link }}" class="gallery-other-block jsLInkEvent" style="background-color: {{ block.settings.color }};">
                {% if block.settings.other_image != blank %}
                  <div class="gallery-image">
                    <img class="lazyload"
                      src="{{ block.settings.other_image | img_url: 'master' }}"
                      alt="{{ block.settings.other_image.alt | escape }}" />
                  </div>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="gallery-description">
                    {{ block.settings.text }}
                  </div>
                {% endif %}
              </a>
            {% else %}
              <div class="gallery-other-block jsLInkEvent" style="background-color: {{ block.settings.color }};">
                {% if block.settings.other_image != blank %}
                  <div class="gallery-image">
                    <img class="lazyload"
                      src="{{ block.settings.other_image | img_url: 'master' }}"
                      alt="{{ block.settings.other_image.alt | escape }}" />
                  </div>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="gallery-description">
                    {{ block.settings.text }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endcapture %}


{% if ss.onViewLoad %}
	{% if section_galleryGrid == section.id %}
		{{ sectionHTML }}
	{% else %}

		<div class="onViewLoadSection section_galleryGrid" sec-id="{{ section.id }}"></div>

		<script>
			require( `${ asset_url }__isInViewport.js` );

			function onViewLoad__section_galleryGrid() {
				const sectionIs             =   `.onViewLoadSection.section_galleryGrid`;
				const checkSectionLoaded    =   $( sectionIs ).hasClass( `sectionLoaded` );
				const sectionID             =   $( sectionIs ).attr( `sec-id` );

				if ( checkSectionLoaded == false ) {

					const isVisible     =   isInViewport( sectionIs );

					if ( isVisible ) {

						$( sectionIs ).addClass( 'sectionLoaded' );

						$.get( `/?section_id=${ sectionID }` , function ( r ) {

							$( sectionIs ).html( r );

						});

					}
				}

			}

			let wheeldelta_section_galleryGrid = {
				x: 0,
				y: 0
			};
			let wheeling_section_galleryGrid;
			$( window ).on('scroll', async function() {
				try {
					clearTimeout( wheeling_section_galleryGrid );
					wheeling_section_galleryGrid        =   setTimeout(async function() {
						wheeling_section_galleryGrid      =   undefined;

						wheeldelta_section_galleryGrid.x  =   0;
						wheeldelta_section_galleryGrid.y  =   0;

						onViewLoad__section_galleryGrid();

					}, 250);

				}
				catch ( err ) {
					console.log ( 'Error Scroll', err.message );
				}
			});
		</script>

	{% endif %}

{% else %}
	{{ sectionHTML }}
{% endif %}

