{% if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}{% assign canonical_url = article.metafields.blogfeeder.canonical %}{% endif %}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
 
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}
  
  <script>
    const asset_url = "{{ 'space.gif' | asset_url | split: 'space.gif' | first }}";
  </script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel='stylesheet' id='rtp-font-awesome-icon-css'  href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css?ver=5.3' type='text/css' media='all' />

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {{ 'jquery-ui.scss.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  
  <script src="{{ 'jquery_3.5.1_.min.js' | asset_url }}"></script>

  <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      }
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery-ui.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.ui.touch-punch.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'datatables.mark.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.dataTables.min.js' | asset_url }}" defer="defer"></script>
  
  
  <script src="{{ 'loader.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.fancybox.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
<!-- GSSTART Coming Soon code start. Do not change -->
<script type="text/javascript"> gsProductByVariant = {}; {% if product.id > 1 %}{% for variant in product.variants %} gsProductByVariant[{{variant.id}}] = {% if variant.available %} 1 {% else %} 0 {% endif %}; {% endfor %}{% endif %}  gsProductCSID = "{{ product.id }}"; gsDefaultV = "{{ product.selected_or_first_available_variant.id }}"; </script><script type="text/javascript" src="https://gravity-software.com/js/shopify/pac_shop17295.js?v=0d3dde8989e8e64963121d8d6f7c369a"></script>
<!-- Coming Soon code end. Do not change GSEND --><script src="https://shinedezign.tk/preorder/js/preorder.js"></script>

  
  <script type='text/javascript'>
window.__lo_site_id = 271843;
    (function() {
        var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
        wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
      })();
  
  
  </script>
  
  
<script>
window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
</script>
  
  
  
   
{% include 'pagefly-header' %}
 </head> 

<body class="template-{{ request.page_type | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div class="page-main">
    {% if template == 'index' %}
    <div class="page-main-content">
    {%- endif -%}

      {%- if settings.enable_ajax -%}
        {% include 'cart-popup' %}
      {%- endif -%}

      {% section 'header' %}

      <div class="page-container drawer-page-content" id="PageContainer">
        <main class="main-content js-focus-hidden " id="MainContent" role="main" tabindex="-1">
          {{ content_for_layout }}
        </main>

        <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
          {{- 'sections.slideshow.navigation_instructions' | t -}}
        </div>
      </div>

    {% if template == 'index' %}
    </div>
    {%- endif -%}

    {% if template == 'index' %}
      <div class="page-main-side">
        {% section 'sidebar-product' %}
      </div>
    {%- endif -%}
  </div>

  {% section 'footer' %}

  {% section 'waitlist-popup' %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
  {% if template == 'cart' %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
 <script type="text/javascript">
   $(document).ready(function(){
   $('.cart__submit').removeClass('sd_hide_check');
     $('.cart__submit').removeAttr('disabled');
   });
  </script>
  {% endif %}
  {% if template contains 'index' %}
  <script>
    function validate(){
     if($('#WaitlistName').val() == "" || $('#WaitlistEmail').val() == "" || $('#WaitlistPhone').val() == ""){
      	$(".err_msg").html("Please fill out required fields.");
        return false;
      }
      else{
        $("#contact_info").val("waitlist,"+$('#WaitlistPhone').val());
      	$("#Contact_waitlist").submit();
      }
    }
 
</script>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
  {% if template contains 'product.roti' %}
  <script>
    async function load_home() {
    let url = 'https://rotimaticus.myshopify.com/browsing_context_suggestions.json';
    let obj = await (await fetch(url)).json();
    var geo_country = obj.detected_values.country_name;      
     
     var fruits = ["United States", "Canada", "Denmark", "Norway", "Sweden", "Netherlands", "France", "Germany", "United Arab Emirates", "Saudi Arabia", "Bahrain", "Kuwait", "Oman", "Qatar", "Singapore", "United Kingdom", "Ireland", "Hong Kong", "Australia", "New Zealand"];
	 var n = fruits.includes(geo_country);
      console.log(n);
     if(n == false){
     	// window.location.href = '/pages/be-the-first-in-line';
     }
    }
   load_home(); 
    
   </script> 
  {% endif %}
  <script>
   async function load() {
    let url = 'https://rotimaticus.myshopify.com/browsing_context_suggestions.json';
    let obj = await (await fetch(url)).json();
    var geo = obj.detected_values.country_name;      
     
         var fruits = ["United States", "Canada", "Denmark", "Norway", "Sweden", "Netherlands", "France", "Germany", "United Arab Emirates", "Saudi Arabia", "Bahrain", "Kuwait", "Oman", "Qatar", "Singapore", "United Kingdom", "Ireland", "Hong Kong", "Australia", "New Zealand"];
	 var n = fruits.includes(geo);
      console.log(n);
     if(n == true){
     	$(".waitlist-popup").hide();
     }else{
     $(".waitlist-popup").show();
     }                                                       
	
     if(localStorage.getItem("country") === null){
    	localStorage.setItem("country", geo);
     }  
	var geo_country = localStorage.getItem("country");
     //alert(geo_country); return false;
    
    if(geo_country == 'United States'){
      var curr = "USD";
    }
    else if(geo_country == 'Australia'){
      var curr = "AUD";
    }
    else if(geo_country == 'United Arab Emirates'){
      var curr = "AED";
    }
    else if(geo_country == 'Canada'){
      var curr = "CAD";
    }
    else if(geo_country == 'Denmark'){
      var curr = "DKK";
    }
    else if(geo_country == 'Ireland' || geo_country == 'Netherlands' == geo_country == 'France' || geo_country == 'Germany'){
      var curr = "EUR";
    }
    else if(geo_country == 'Singapore'){
      var curr = "SGD";
    }
    else if(geo_country == 'United Kingdom'){
      var curr = "GBP";
    }
    else if(geo_country == 'New Zealand'){
      var curr = "NZD";
    }
    else if(geo_country == 'Qatar'){
      var curr = "QAR";
    }
    else if(geo_country == 'Saudi Arabia'){
      var curr = "SAR";
    }
    else if(geo_country == 'Hong Kong SAR'){
      var curr = "HKD";
    }
    else if(geo_country == 'Norway'){
      var curr = "NOK";
    }
    else if(geo_country == 'Sweden'){
      var curr = "SEK";
    }
     else{
     var curr = '{{ cart.currency.iso_code }}';
     }
    
    var curr = '{{ cart.currency.iso_code }}';
    
    
    if(curr == "USD"){
      $(".rotiproduct").hide();
      $(".roti_us").show();
      return false;
    }
    if(curr == "AUD"){
      $(".rotiproduct").hide();
      $(".roti_australia").show();
      return false;
    }
    if(curr == "AED"){
      $(".rotiproduct").hide();
      $(".roti_united-arab-emirates").show();
      return false;
    }
    if(curr == "CAD"){
      $(".rotiproduct").hide();
      $(".roti_canada").show();
      return false;
    }
    if(curr == "DKK"){
      $(".rotiproduct").hide();
      $(".roti_denmark").show();
      return false;
    }
    if(curr == "EUR"){
      $(".rotiproduct").hide();
      $(".roti_europe").show();
      return false;
    }
    if(curr == "SGD"){
      $(".rotiproduct").hide();
      $(".roti_singapore").show();
      return false;
    }
    if(curr == "GBP"){
      $(".rotiproduct").hide();
      $(".roti_united-kingdom").show();
      return false;
    }
    if(curr == "NZD"){
      $(".rotiproduct").hide();
      $(".roti_new-zealand").show();
      return false;
    }
    if(curr == "QAR"){
      $(".rotiproduct").hide();
      $(".roti_qatar").show();
      return false;
    }
    if(curr == "SAR"){
      $(".rotiproduct").hide();
      $(".roti_saudi-arabia").show();
      return false;
    }
    if(curr == "HKD"){
      $(".rotiproduct").hide();
      $(".roti_hong-kong").show();
      return false;
    }
    if(curr == "NOK"){
      $(".rotiproduct").hide();
      $(".roti_norway").show();
      return false;
    }
    if(curr == "SEK"){
      $(".rotiproduct").hide();
      $(".roti_sweden").show();
      return false;
    }

}

load(); 
  $(document).ready(function(){
    
     $("a.disclosure-list__option").click(function(e){
   //alert(1);
   var currency = $(this).attr("iso-code");
$.ajax({
            type: "POST",
            url: '/cart/clear.js',
            data: '',
            dataType: 'json',
            success: function() { 
setTimeout(function(){ 
window.location.href = '/products/rotimatic?currency='+currency;              
      }, 1000);
              
            },
            error: function(XMLHttpRequest, textStatus) {
              /* error code */
            }
          });
});
    
  $.ajax ({
        url: 'https://rotimaticus.myshopify.com/browsing_context_suggestions.json',
        dataType: 'json',
    success: function (data) {
        console.log(data.detected_values.country_name);      
    }
  });
    
    
    
    $(document).keyup(function(e) {
    if(e.key === "Escape") {
      $(".waitlist-cancel").trigger("click");  
    }
});
      
                                                                 
var curr = '{{ cart.currency.iso_code }}';
    if(curr == "USD"){
      $(".rotiproduct").hide();
      $(".roti_us").show();
    }
    if(curr == "AUD"){
      $(".rotiproduct").hide();
      $(".roti_australia").show();
    }
    if(curr == "AED"){
      $(".rotiproduct").hide();
      $(".roti_united-arab-emirates").show();
    }
    if(curr == "CAD"){
      $(".rotiproduct").hide();
      $(".roti_canada").show();
    }
    if(curr == "DKK"){
      $(".rotiproduct").hide();
      $(".roti_denmark").show();
    }
    if(curr == "EUR"){
      $(".rotiproduct").hide();
      $(".roti_ireland").show();
    }
    if(curr == "SGD"){
      $(".rotiproduct").hide();
      $(".roti_singapore").show();
    }
    if(curr == "GBP"){
      $(".rotiproduct").hide();
      $(".roti_united-kingdom").show();
    }
    if(curr == "NZD"){
      $(".rotiproduct").hide();
      $(".roti_new-zealand").show();
    }
    if(curr == "QAR"){
      $(".rotiproduct").hide();
      $(".roti_qatar").show();
    }
    if(curr == "SAR"){
      $(".rotiproduct").hide();
      $(".roti_saudi-arabia").show();
    }
    if(curr == "HKD"){
      $(".rotiproduct").hide();
      $(".roti_hong-kong").show();
    }
    if(curr == "NOK"){
      $(".rotiproduct").hide();
      $(".roti_norway").show();
    }
    if(curr == "SEK"){
      $(".rotiproduct").hide();
      $(".roti_sweden").show();
    }

    
    var settings = {
  "url": "https://6vy310rw78.execute-api.us-east-1.amazonaws.com/prod/georegion/roticount",
  "method": "GET",
  "timeout": 0,
  "headers": {
    "x-api-key": "W0Jy94dN5A7zD9Yb7wUzF2NbeWBY21h15YkiuJvz"
  },
};

$.ajax(settings).done(function (response) {
   
  $(".map-count-country-count h3").html(numberWithCommas(response[0].roti_count));
  
});
    
    
    
      $("#country").change(function(){
      
   
    
var settings = {
  "url": "https://6vy310rw78.execute-api.us-east-1.amazonaws.com/prod/georegion/roticount",
  "method": "GET",
  "timeout": 0,
  "headers": {
    "x-api-key": "W0Jy94dN5A7zD9Yb7wUzF2NbeWBY21h15YkiuJvz"
  },
};

$.ajax(settings).done(function (response) {
   var georeg = $('#country option:selected').val();
  console.log(response);
  if(georeg == "AUS"){
  $(".map-count-country-count h3").html(numberWithCommas(response[0].roti_count));
  $(".fill").removeClass("active");    
  $("#australia").addClass("active");  
  }
  if(georeg == "CAN"){
  $(".map-count-country-count h3").html(numberWithCommas(response[1].roti_count));
    $(".fill").removeClass("active");    
  $("#canada").addClass("active"); 
  }
  if(georeg == "EUROPE"){
  $(".map-count-country-count h3").html(numberWithCommas(response[2].roti_count));
      $(".fill").removeClass("active");    
  $("#europe").addClass("active"); 
  }
  if(georeg == "ME"){
  $(".map-count-country-count h3").html(numberWithCommas(response[3].roti_count));
        $(".fill").removeClass("active");    
  $("#Middle_East").addClass("active"); 
  }
  if(georeg == "NZL"){
  $(".map-count-country-count h3").html(numberWithCommas(response[4].roti_count));
         $(".fill").removeClass("active");    
  $("#new_zealand").addClass("active"); 
  }
  if(georeg == "SGP"){
  $(".map-count-country-count h3").html(numberWithCommas(response[5].roti_count));
             $(".fill").removeClass("active");    
  $("#singapore").addClass("active"); 
  }
  if(georeg == "USA"){
  $(".map-count-country-count h3").html(numberWithCommas(response[6].roti_count));
                $(".fill").removeClass("active");    
  $("#USA").addClass("active"); 
  }
  
});
    });
{% if template == 'index' %}
  setInterval(ajax_query, 5000);
{% endif %}

function ajax_query(){
    var settings = {
  "url": "https://webconsole.zimplistic.com/wapis/roti/count",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({"email":"insights@zimplistic.com","password":"ya29.lAIN8_PM3suB2LA18M5vLWp5id4Jx8o2CFVpc3baF9uDXhafEzrHFqGX27HMI-L00A"}),
};

$.ajax(settings).done(function (response) {
  console.log(response.total_roti_count);  
  $("h2.block_3").html(numberWithCommas(response.total_roti_count));
});
}
    
    function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
 setInterval(random_function, 60000);
    function random_function(){
    	var randomval = Math.floor(Math.random() * 51) + 100;
      $("h2.block_2").fadeOut(2000);
      $("h2.block_2").fadeIn(3000);
      
      $("h2.block_2").html(randomval);
    }
 
   random_function(); 
    });
   
</script>
  <script>
  window.addEventListener('load', (event) => {
    
  console.log('page is fully loaded');
     $("#Calculate").click(function(){
      var people = $("#people").val();
       if(people > 15){
       $(".err_msg1").html("Please enter value between 1 to 15");
         $("#people").focus();
         $("#people").val("4");
         return false;
       }
       
       var roties = $("#roties").val();
       if(roties > 15){
       $(".err_msg2").html("Please enter value between 1 to 15");
         $("#roties").focus();
         $("#roties").val("3");
         return false;
       }
       var people = $("#people").val();
       var rotis = $("#rotis").val();
       var eat = $("#eat").val();
       
       var numb = Math.round(Number(people) * Number(rotis) * Number(eat) * 52 * 3 * 0.53);
       $(".calculate-price").html(numb.toLocaleString()+"<br><span>USD</span>");
       
       var days = Math.round((Number(people) * Number(rotis) * Number(eat) * 52 * 3 * 0.0604) / 24);
       $(".calculate-day").html(days.toLocaleString()+"<br><span>DAYS</span>");
	});
    $("#people").keyup(function(){
      if($(this).val() > 15){
       $(".err_msg1").html("Please enter value between 1 to 15");
        $(".err_msg1").show();
         $("#people").focus();
         $("#people").val("4");
         return false;
       }
      else{
      	$(".err_msg1").hide();
      }
    });
    $("#rotis").keyup(function(){
      if($(this).val() > 15){
       $(".err_msg2").html("Please enter value between 1 to 15");
        $(".err_msg2").show();
         $("#rotis").focus();
         $("#rotis").val("3");
         return false;
       }
      else{
      	$(".err_msg2").hide();
      }
    });
    
 });
  </script>
  <style>.err_msg1, .err_msg2{padding: 10px 0 0 15px;
    display: block;
    color: #f00;}</style>
{% include 'mlveda-currencies-switcher' %}{% include 'mlveda-currencies' %}{% include 'mlveda-flag' %}{% include 'mlveda-currencies-style' %}</body>
</html>
