{% for block in section.blocks %}
  {% if block.type == 'reviews' %}
    <div class="reviews-item">
      <div class="reviews-item-inner">
		{% if block.settings.image != blank %}
        <div class="image">
			<img class="lazyload"
			  src="{{ block.settings.image | img_url: 'master' }}"
			  alt="{{ block.settings.image.alt | escape }}" />
		</div>
		{% endif %}
		<div class="review-content">
			<div class="review-info">
				{% if block.settings.small_image != blank %}
				<div class="review-image">
					<img class="lazyload"
						src="{{ block.settings.small_image | img_url: 'master' }}"
						alt="{{ block.settings.small_image.alt | escape }}" />
				</div>
				{% endif %}
				{% if block.settings.name != blank or block.settings.name_id != blank %}
					<div class="review-name">
						{% if block.settings.name != blank %}
							<h3>{{ block.settings.name }}</h3>
						{% endif %}
						{% if block.settings.name_id != blank %}
							<p>{{ block.settings.name_id }}</p>
						{% endif %}
					</div>
				{% endif %}
			</div>

			{% if block.settings.content != blank %}
			<div class="review-text">
				{{ block.settings.content }}
			</div>
			{% endif %}
		</div>
      </div>
    </div>
  {% endif %}
{% endfor %}