{%-liquid
  assign cssFile    =   'product.css' | asset_url
  assign jsFile     =   'product.js' | asset_url
  echo '<link rel="stylesheet" href="' | append: cssFile | append: '">'
-%}

{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<div class="_modal_">
  <div class="centerCenter">
    <div class="_close_">
      <img src="{{ 'close.png' | asset_img_url: 'medium' }}" alt="close">
    </div>
    <div class="heading_Mobile">
      {{ 'products.product.popup.heading' | t }}
    </div>
    <div class="imgPart_">
      <img src="{{ 'out-of-stock.png' | asset_url }}" class="desktop">
      <img src="{{ 'out-of-stock-mobile.png' | asset_url }}" class="mobile">
    </div>
    <div class="formPart_">
      <div class="heading_">
        {{ 'products.product.popup.heading' | t }}
      </div>
      <p class="sub_">
        {{ 'products.product.popup.rotimaticIsCurrently_html' | t: text: 'out-of-stock' }}
      </p>
      {% form 'customer', id: 'popupForm' %}
        <div class="error">
          {{ form.errors | default_errors }}
        </div>
        {% if form.posted_successfully? %}
          <p class="success">
            {{ 'products.product.popup.success' | t }}
          </p>
        {% else %}
          <div class="">
            <input type="hidden" name="contact[tags]" value="Out of stock, SKU123456789, ipAddress">
            <input type="email"
              name="contact[email]"
              id="Email"
              class="input-group__field newsletter__input"
              value="{% if customer %}{{ customer.email }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
              autocorrect="off"
              autocapitalize="off"
              required
            >
            <input
              type="name" name="contact[first_name]"
              id="Name"
              class="input-group__field newsletter__input input-large"
              value="{% if customer %}{{ customer.first_name }}{% endif %}"
              placeholder="Name"
              autocorrect="off"
              autocapitalize="off" required
              value="newsletter"
            >

            <div class="haveReadTerms">
              <div class="fakeCheckbox">
                <input type="checkbox" name="terms" id="terms" required value="accepted">
                <div class="ifChecked"></div>
              </div>
              <label for="terms">
                {{ 'products.product.popup.acceptTermsAndConditions_html' | t: link: '/pages/terms-of-use', linkText: 'Privacy policy' }}
              </label>
            </div>
            <span class="input-group__btn">
              <button type="submit" class="btn createUserBtn" name="commit" id="Subscribe" disabled>
                <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </span>
          </div>
        {% endif %}
      {% endform %}
    </div>
  </div>
</div>

{% section 'product-template-roti' %}
{% section 'product-usp' %}
{% section 'product-specifications' %}
{% section 'product-rotimatic' %}
{% section 'product-here-for-you' %}
{% section 'product-reviews' %}
{% section 'faq' %}
{% section 'product-recommendations' %}

{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

<script src="{{ jsFile }}"></script>