{% assign ss    =     section.settings %}
{% assign sb    =     section.blocks %}

<div class="about_weAreRotimatic_dynamic">
  <div class="page-width">
    {% if ss.title != blank %}
      <h2 class="about_weAreRotimatic_dynamic__title">{{ ss.title }}</h2>
    {% endif %}

    {% if ss.content != blank %}
      <p class="about_weAreRotimatic_dynamic__content">
        {{ ss.content }}
      </p>
    {% endif %}
    {% if sb.size > 0 %}
      <div class="about_weAreRotimatic_dynamic__grid gridItems__{{ sb.size }}">

        {% for block in sb %}
          {% assign b = block.settings %}
          <div class="about_weAreRotimatic_dynamic__grid__item">
            {% if b.image != blank %}
              <div class="about_weAreRotimatic_dynamic__grid__item__imgWrap">
                <img src="{{ b.image | img_url: '150x150' }}" alt="{{ b.title }}" class="about_weAreRotimatic_dynamic__grid__item__img">
              </div>
            {% endif %}

            {% if b.title != blank %}
              {%-liquid
                assign getNumber   =   ''
                assign getsign     =   ''
                capture titleIs
                  assign t_         =   b.title | replace_first: '[', ''

                  if t_ contains ']'
                    assign getNumber  =   t_ | split: ']' | first
                    assign getsign    =   t_ | split: ']' | last
                    echo '<span class="animate-count" max-counter="' | append: getNumber | append: '">0</span>'
                  else
                    echo b.title
                  endif

                endcapture
              -%}
              <div class="about_weAreRotimatic_dynamic__grid__item__counterContent">
                {{ titleIs }}
              </div>
            {% endif %}

            {% if b.underTitle != blank %}
              <div class="about_weAreRotimatic_dynamic__grid__item__subContent">
                {{ b.underTitle | newline_to_br }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name"    :   {
    "en"      :   "About Rotimatic"
  },
  "settings"    :   [
    {
      "type"      :   "checkbox",
      "id"        :   "showHide_Slider",
      "label"     :   {
        "en"      :   "Show Hide Section"
      },
      "default"   :   true
    },
    {
      "type"      :   "text",
      "id"        :   "title",
      "label"     :   "Heading",
      "default"   :   "We are Rotimatic"
    },
    {
      "type"      :   "textarea",
      "id"        :   "content",
      "label"     :   "Content of this section"
    }
  ],
  "max_blocks"    :   6,
  "blocks"        :   [
    {
      "type"      :   "text",
      "name"      :   "block",
      "settings"  :   [
        {
          "type"      :   "image_picker",
          "id"        :   "image",
          "label"     :   "Upload Icon in png",
          "info"      :   "Icon dimension must be square"
        },
        {
          "type"      :   "text",
          "id"        :   "title",
          "label"     :   "Heading",
          "info"      :   "If want to add counter then use this format [1000]+"
        },
        {
          "type"      :   "textarea",
          "id"        :   "underTitle",
          "label"     :   "Under Title Text"
        }
      ]
    }
  ]
}
{% endschema %}
