{% assign ss = section.settings %}
<link rel="stylesheet" href="{{ 'faq.scss.css' | asset_url }}">

<div class="faqTopSection">
  <div class="page-width">
    {% if ss.title != blank %}
      <h1>{{ ss.title }}</h1>
    {% endif %}

    {% if ss.content != blank %}
      <div class="mainContent">
        {{ ss.content }}
      </div>
    {% endif %}
  </div>
</div>

<div class="faqs">
  <div class="page-width">
    {% for block in section.blocks %}
      {% assign b = block.settings %}
      {% if block.type == 'titleIs' %}
        <h3>{{ b.title }}</h3>
      {% elsif block.type == 'question' %}
        <h4>{{ b.title }}</h4>
        <div class="asnswer {% if b.borderBottom %}bb-none{% endif %}">
          {{ b.anwser }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name"      :   "FAQ",
  "class"     :   "faqCustomSection",
  "settings"  :   [
    {
      "type"        :   "text",
      "id"          :   "title",
      "label"       :   "Add Heading",
      "default"     :   "Frequently Asked Questions"
    },
    {
      "type"        :   "richtext",
      "id"          :   "content",
      "label"       :   "Main content"
    }
  ],
  "blocks"    :   [
    {
      "type"      :   "titleIs",
      "name"      :   "Title",
      "settings"  :   [
        {
          "type"      :   "text",
          "id"        :   "title",
          "label"     :   "Heading"
        }
      ]
    },
    {
      "type"      :   "question",
      "name"      :   "Question and Answer",
      "settings"  :   [
        {
          "type"      :   "text",
          "id"        :   "title",
          "label"     :   "Question"
        },
        {
          "type"      :   "richtext",
          "id"        :   "anwser",
          "label"     :   "Anwser"
        },
        {
          "type"      :   "checkbox",
          "id"        :   "borderBottom",
          "label"     :   "Remove bottom border",
          "default"   :   false
        }
      ]
    }
  ]
}
{% endschema %}

