<div class="technology-banner">
<div class="row text-center">  
<h1>{{ section.settings.main-heading}}</h1>
<div class="head-description">{{ section.settings.sub-heading}}</div>
 <img src="{{ section.settings.main-image | img_url: '1024x1024' }}" alt="Technology">
 <div class="roti-lovers"> <span> <svg width="9px" height="9px" viewBox="0 0 9 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs></defs> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Assets/Popup/New-Customers" transform="translate(-5.000000, -3.000000)" fill="#FFFFFF"> <g id="Group-10" transform="translate(-10.000000, -8.000000)"> <g id="Group-6" transform="translate(15.000000, 9.000000)"> <g id="Page-1" transform="translate(0.000000, 2.000000)"> <path d="M8.98512378,2.49523483 C8.85375008,1.04925871 7.83028147,0.000173087876 6.54943118,0.000173087876 C5.69610795,0.000173087876 4.91461619,0.459375224 4.47514607,1.19534487 C4.03948389,0.449855391 3.29018647,0 2.45053718,0 C1.16985999,0 0.146218284,1.04908562 0.015017674,2.49506174 C0.00463240141,2.55893116 -0.0379472162,2.89506782 0.0915225154,3.44323712 C0.278111246,4.23390254 0.709100058,4.95308267 1.33758214,5.52254178 L4.47306902,8.36793338 L7.66221314,5.52271487 C8.29086831,4.95308267 8.72185712,4.23407563 8.90844585,3.44323712 C9.03791558,2.89524091 8.99533596,2.55910425 8.98512378,2.49523483" id="Fill-1"></path> </g> </g> </g> </g> </g> </svg> <strong id="roti-lovers-worldwide">{{ section.settings.wordwide-lover}}</strong>Roti lovers worldwide </span> <span> <svg width="9px" height="10px" viewBox="0 0 9 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <polygon id="path-1" points="0 0.000124662162 8.99987838 0.000124662162 8.99987838 9 0 9"></polygon> </defs> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Assets/Popup/New-Customers" transform="translate(-15.000000, -25.000000)"> <g id="Group-10"> <g id="Group-3" transform="translate(15.000000, 25.030284)"> <g id="Group" fill="#FFFFFF"> <path d="M1.67156757,7.34473277 C1.38162162,7.05642872 1.13548986,6.72415845 0.943844595,6.35898953 C0.651952703,5.80290507 0.486486486,5.17047264 0.486486486,4.50006385 C0.486486486,2.28703682 2.28691216,0.486611149 4.49993919,0.486611149 C5.549625,0.486611149 6.50630068,0.891854392 7.22222635,1.55390169 C7.59341554,1.89711791 7.89993243,2.30929358 8.12094932,2.76999628 C8.37240203,3.29415507 8.51339189,3.88094899 8.51339189,4.50006385 C8.51339189,6.71309088 6.71296622,8.51351655 4.49993919,8.51351655 C3.39756081,8.51351655 2.39761824,8.06667872 1.67156757,7.34473277 Z M0,4.50006385 C0,6.98129696 2.01867568,9.00000304 4.49993919,9.00000304 C6.9811723,9.00000304 8.99987838,6.98129696 8.99987838,4.50006385 C8.99987838,2.01880034 6.98123311,0.000124662162 4.49993919,0.000124662162 C2.01867568,0.000124662162 0,2.01880034 0,4.50006385 Z" id="Fill-1"></path> <path d="M3.03038514,3.01019595 C3.2990473,3.01019595 3.51687162,3.22802027 3.51687162,3.49668243 C3.51687162,3.76534459 3.2990473,3.98316892 3.03038514,3.98316892 C2.76172297,3.98316892 2.54389865,3.76534459 2.54389865,3.49668243 C2.54389865,3.22802027 2.76172297,3.01019595 3.03038514,3.01019595" id="Fill-4"></path> <path d="M6.04052027,3.01019595 C6.30921284,3.01019595 6.52700676,3.22802027 6.52700676,3.49668243 C6.52700676,3.76534459 6.30921284,3.98316892 6.04052027,3.98316892 C5.7718277,3.98316892 5.55403378,3.76534459 5.55403378,3.49668243 C5.55403378,3.22802027 5.7718277,3.01019595 6.04052027,3.01019595" id="Fill-6"></path> <path d="M4.49132838,6.99321588 C5.4324973,6.99321588 6.33447365,6.51189831 6.85090946,5.71275304 L6.44229122,5.4487125 C5.96805811,6.18254696 5.1006223,6.59207736 4.23203108,6.49186115 C3.55514595,6.41381047 2.92918986,6.02383074 2.55754459,5.4487125 L2.14895676,5.71275304 C2.5986527,6.40870236 3.35653784,6.88059426 4.17626757,6.97515507 C4.28150068,6.98728682 4.38658176,6.99321588 4.49132838,6.99321588" id="Fill-8"></path> </g> <mask id="mask-2" fill="white"> <use xlink:href="#path-1"></use> </mask> <g id="Clip-2"></g> </g> </g> </g> </g> </svg> <strong id="new-delighted-customers">{{ section.settings.delighted-customers}}</strong>New delighted customers </span></div>
 </div>
</div>
{% schema %}
{
"name": "Technology Banner",
"class": "technology-top-section",
"settings": [
{
"type": "richtext",
"id": "main-heading",
"label": "Heading"
},
{
"type": "richtext",
"id": "sub-heading",
"label": "Sub heading"
},
{
"type": "image_picker",
"id": "main-image",
"label": "Main Image"
},{
"type": "text",
"id": "wordwide-lover",
"label": "Roti lovers worldwide"
},{
"type": "text",
"id": "delighted-customers",
"label": "New delighted customers"
}
]
}
{% endschema %}

