<div class="recipes">
  <div class="page-width text-center">
    {% if section.settings.title != blank %}
      <h2 class="h2">{{ section.settings.title | escape }}</h2>
    {% endif %}

    {% if section.settings.text != blank %}
      <div class="subtitle-text">{{ section.settings.text }}</div>
    {% endif %}

    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}"
        class="btn"
        aria-label="{{ ariaLabel | escape }}">
        {{- section.settings.button_label | escape -}}
      </a>
    {% endif %}
  </div>

  <div class="recipes-slider">
    {% for block in section.blocks %}
      <div class="recipes-slider-item">
        {% if block.settings.image != blank %}
          {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
          {%- assign img_url = block.settings.image | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          <div class="feature-row__image-wrapper js">
          <img id="{{ img_id }}"
            class="lazyload"
            src="{{ block.settings.image | img_url: 'master' }}"
            data-src="{{ img_url }}"
            data-sizes="auto"
            alt="{{ block.settings.image.alt | escape }}">
          </div>
          <noscript>
            <p>
              {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.image.alt, 'feature-row__image' }}
            </p>
          </noscript>
        {% else %}
          <p>
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </p>
        {% endif %}

        {% if block.settings.title != blank %}
          <h3 class="h3">{{ block.settings.title | escape }}</h3>
        {% endif %}

        {% if block.settings.text != blank %}
          <div class="rte-setting">{{ block.settings.text }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Recipes",
  "class": "index-section index-recipes",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "More than just Rotis"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Rotimatic is designed as a platform to make any type of flatbread. It connects to the internetand upgrades with features that add more variety to your table and parties.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "recipes_item",
      "name": "Recipes Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Pumpkin Pie"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>A yummy dessert with coconut cream and pumpkin pie spices</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recipes Slider",
      "category": "Recipes",
      "blocks": [
        {
          "type": "recipes_item"
        },
        {
          "type": "recipes_item"
        },
        {
          "type": "recipes_item"
        }
      ]
    }
  ]
}
{% endschema %}
