<section class="warranty_moreAbout_rotimatic">
  <div class="page-width warranty_moreAbout_rotimatic__innerWrap">
    <div class="warranty_moreAbout_rotimatic__rectangle">
      <h2 class="warranty_moreAbout_rotimatic__title">
        {{ 'pages.warranty.moreAbout_t1' | t }}
      </h2>

      <div class="warranty_moreAbout_rotimatic__detail">
        {{ 'pages.warranty.moreAbout_t2' | t }}
      </div>

      <div class="warranty_moreAbout_rotimatic__blocks">
        <div class="warranty_moreAbout_rotimatic__blocks__item">
          <img src="{{ 'warranty_block_black.png' | asset_url }}">
          <div class="warranty_moreAbout_rotimatic__blocks__item__content">
            {{ 'pages.warranty.moreAbout_t3' | t }}
          </div>

          <ul class="warranty_moreAbout_rotimatic__blocks__item__showHide">
            <li>
              {{ 'pages.warranty.moreAbout_t4' | t }}
            </li>
            <li>
              {{ 'pages.warranty.moreAbout_t5' | t }}
            </li>
            <li>
              {{ 'pages.warranty.moreAbout_t6' | t }}
            </li>
            <li>
              {{ 'pages.warranty.moreAbout_t7' | t }}
            </li>
          </ul>

          <div class="warranty_moreAbout_rotimatic__blocks__item__actions">
            <div class="showMore">{{ 'pages.warranty.moreAbout_t8' | t }}</div>
            <div class="showLess">{{ 'pages.warranty.moreAbout_t9' | t }}</div>
          </div>
        </div>
        <div class="warranty_moreAbout_rotimatic__blocks__item">
          <img src="{{ 'warranty_block_black_.png' | asset_url }}">
          <div class="warranty_moreAbout_rotimatic__blocks__item__content">
            {{ 'pages.warranty.moreAbout_t10' | t }}
          </div>

          <ul class="warranty_moreAbout_rotimatic__blocks__item__showHide">
            <li>
              {{ 'pages.warranty.moreAbout_t11' | t }}
            </li>
            <li>
              {{ 'pages.warranty.moreAbout_t12' | t }}
            </li>
            <li>
              {{ 'pages.warranty.moreAbout_t13' | t }}
            </li>
            <li>
              {{ 'pages.warranty.moreAbout_t14' | t }}
            </li>
          </ul>

          <div class="warranty_moreAbout_rotimatic__blocks__item__actions">
            <div class="showMore">{{ 'pages.warranty.moreAbout_t8' | t }}</div>
            <div class="showLess">{{ 'pages.warranty.moreAbout_t9' | t }}</div>
          </div>
        </div>
        <div class="warranty_moreAbout_rotimatic__blocks__item">
          <img src="{{ 'warranty_block_black__.png' | asset_url }}">
          <div class="warranty_moreAbout_rotimatic__blocks__item__content">
            {{ 'pages.warranty.moreAbout_t15' | t }}
          </div>

          <ul class="warranty_moreAbout_rotimatic__blocks__item__showHide">
            <li>
              {{ 'pages.warranty.moreAbout_t16' | t }}
            </li>
            <li>
              {{ 'pages.warranty.moreAbout_t17' | t }}
            </li>
            <li>
              {{ 'pages.warranty.moreAbout_t18' | t }}
            </li>
          </ul>

          <div class="warranty_moreAbout_rotimatic__blocks__item__actions">
            <div class="showMore">{{ 'pages.warranty.moreAbout_t8' | t }}</div>
            <div class="showLess">{{ 'pages.warranty.moreAbout_t9' | t }}</div>
          </div>
        </div>
      </div>

      <div class="warranty_moreAbout_rotimatic__showMoreBtn">
        <a href="javascript://void('showMore_or_less')">
          <span class="showLess_text">{{ 'pages.warranty.moreAbout_t19' | t }}</span> <span class="plusMinus"></span>
        </a>
      </div>

    </div>
  </div>

  <img src="{{ 'rotimaticshield.png' | asset_url }}" class="warranty_moreAbout_rotimatic__rightBottom">
</section>
