<section class="warranty_api_integration">
  <div class="warranty_api_integration__loader">
    <svg version="1.1" id="L2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><circle fill="none" stroke="#fff" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="48"/><line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="85" y2="50.5"><animateTransform attributeName="transform" dur="2s" type="rotate" from="0 50 50" to="360 50 50" repeatCount="indefinite" /></line><line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="49.5" y2="74"><animateTransform attributeName="transform" dur="15s" type="rotate" from="0 50 50" to="360 50 50" repeatCount="indefinite" /></line></svg>
  </div>
  <div class="setWidth simpleForm">
    <div class="warranty_api_integration__title">
      Check Your Service & Support Coverage
    </div>

    <div class="warranty_api_integration__detail">
      Review your Rotimatic warranty status and eligibility to purchase<br>
      and extend your coverage.
    </div>

    <div class="warranty_api_integration__inputGrid">
      <input type="text" class="emailorRef" placeholder="Enter email address / Machine number" value="test@email.com">
      <button class="warranty_api_integration__btn">Continue</button>

      <div class="msg"></div>
    </div>

    <div class="warranty_api_integration__findRotimaticNumber">
      <a href="javascript://void(0);">
        Find your Rotimatic machine number
      </a>
    </div>
  </div>

  <div class="warranty_api_integration__modal">
    <div class="centerCenter_">
      <a href="javascript://void('close');" class="_closeIt_ closeModal">
        <img src="{{ 'close.png' | asset_url }}" alt="close">
      </a>
      <div class="_title_">
        How To Find Your Rotimatic Machine Number
      </div>
      <div class="_detail_">
        Look at the sticker behind your Rotimatic, you will find the machine numer just below the barcode. The machine number looks like ‘ZMXXXXXXXXXXX’
      </div>
      <div class="_img_">
        <img src="{{ 'machineno.png' | asset_url }}" alt="Machine Number">
      </div>

      <a href="javascript://void('close');" class="_closeBtn_ closeModal">Got it!</a>
    </div>
  </div>

  <div class="warranty_api_integration__modal__ordersList">
    <div class="centerCenter_">
      <a href="javascript://void('close');" class="_closeIt_ closeModal">
        <img src="{{ 'close.png' | asset_url }}" alt="close">
      </a>
      <div class="_title_">
        Which Rotimatic do you want to check?
      </div>
      <div class="_detail_">
        <span class="totalOrders"></span> Rotimatics registered to <span class="orderEmail"></span>
      </div>

      <div class="_ordersList_"></div>

      <a href="javascript://void('show detail');" class="_closeBtn_ showSelectedDetail">Check Warranty</a>
    </div>
  </div>

  <div class="apiResponseLayer">
    <div class="page-width gotResponse">
      <div class="_title_">
        Your Rotimatic Service & Support Coverage
      </div>

      <div class="_machineNoText_">
        Your Rotimatic machine number
      </div>

      <div class="_machineCode_">xxxxx</div>

      <div class="_checkAnotherMachine_">
        <a href="javascript://void('another');">
          Check another machine number
        </a>
      </div>

      <div class="_statusGrid_">
        <div class="_item_ _first_ active">
          <div class="_item__img">
            <img src="{{ 'warranty_ifActive.png' | asset_url }}" class="ifActive">
            <img src="{{ 'warranty_ifInactive.png' | asset_url }}" class="ifInactive">
            <img src="{{ 'warranty_ifUnavailable.png' | asset_url }}" class="ifUnavailable">
            <img src="{{ 'warranty_ifExtendable.png' | asset_url }}" class="ifExtendable">
          </div>

          <div class="_item__status">
            Inactive
          </div>

          <div class="_item__title">
            Rotimatic Warranty Coverage
          </div>

          <div class="_item__dates">
            Starts on <span class="startsOn">22-07-2020</span><br>
            Expires on <span class="expiresOn">22-08-2021</span>
          </div>
        </div>

        <div class="_item_ _second_ extendable">
          <div class="_item__img">
            <img src="{{ 'warranty_ifActive.png' | asset_url }}" class="ifActive">
            <img src="{{ 'warranty_ifInactive.png' | asset_url }}" class="ifInactive">
            <img src="{{ 'warranty_ifUnavailable.png' | asset_url }}" class="ifUnavailable">
            <img src="{{ 'warranty_ifExtendable.png' | asset_url }}" class="ifExtendable">
          </div>

          <div class="_item__status">
            extendable
          </div>

          <div class="_item__title">
            Rotimatic Care+ Extended Coverage
          </div>

          <div class="_item__dates">
            Extends your coverage up to 2-years beyond current expiry date
          </div>
        </div>
      </div>

      <div class="_conclusionMsg_">
        <div class="noteligible__">
          <div class="noteligible__title">
            You are not eligible to purchase extended warranty.
          </div>

          <div class="noteligible__detail">
            We are still here for you! If you have a software issue, rest assured that you are eligible for troubleshooting throughout the lifetime of your machine via our <a href="#">support channels</a>. For hardware issues, repair or replacement is available at additional cost.
          </div>

          <div class="noteligible__terms">
            <a href="#">
              Please refer to our warranty terms & conditions.
            </a>
          </div>
        </div>

        <div class="buyWarranty">
          <div class="buyWarranty__title">
            Buy Rotimatic Care+ Coverage & Extend Your Warranty
          </div>

          <div class="buyWarranty__packages">
            {%-liquid
              capture aaa
                form 'localization'
                  assign selectedCurrencyIs       =  form.current_currency.iso_code
                  assign selectedCurrencySymbol   =  form.current_currency.symbol
                endform
              endcapture
            -%}
            {% assign product   =   all_products['warranty'] %}

            {% for variant in product.variants %}
              {% assign priceIs   =   variant.price | divided_by: 100 %}

              <div class="buyWarranty__item">
                <div class="buyWarranty__yearTitle">
                  {{ variant.title }}
                </div>

                <div class="buyWarranty__detail">
                  International Warranty
                </div>

                <div class="buyWarranty__price">
                  {{ variant.price | money_with_currency }}
                </div>

                <div class="buyWarranty__addToCart" cart-status="">
                  <a href="javascript://void('add to cart');" class="add2Cart" vid="{{ variant.id }}" warranty-plan="{{ variant.title }}">
                    ADD TO CART
                  </a>
                </div>
              </div>
            {% endfor %}
            {%- comment -%}
              <div class="buyWarranty__item">
                <div class="buyWarranty__yearTitle">
                  1 year
                </div>

                <div class="buyWarranty__detail">
                  International Warranty
                </div>

                <div class="buyWarranty__price">
                  USD 149.99
                </div>

                <div class="buyWarranty__addToCart">
                  <a href="javascript://void('add to cart');">
                    ADD TO CART
                  </a>
                </div>
              </div>

              <div class="buyWarranty__item">
                <div class="buyWarranty__yearTitle">
                  2 year
                </div>

                <div class="buyWarranty__detail">
                  International Warranty
                </div>

                <div class="buyWarranty__price">
                  USD 229.99
                </div>

                <div class="buyWarranty__addToCart">
                  <a href="javascript://void('add to cart');">
                    ADD TO CART
                  </a>
                </div>
              </div>
            {%- endcomment -%}
          </div>

          <div class="buyWarranty__msg">
            Your extended warranty will start from the expiry date of your current warranty
          </div>

          <div class="buyWarranty__terms">
            <a href="#">
              Warranty terms & conditions
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>