<div class="bg-img-wrap">
	<div class="listing-bg-img">
		<ul>
		{% for block in section.blocks %}
			{% if block.settings.hover_image != blank %}
			<li id="img_{{ forloop.index }}">
				<img src="{{ block.settings.hover_image | img_url: 'master' }}"
				  alt="{{ block.settings.hover_image.alt | escape }}" />
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	<div class="first-listing">
		<ul class="img-gird-flex">
			{% for block in section.blocks %}
				<li data-id="img_{{ forloop.index }}">
					{% if block.settings.grid_image != blank %}
					<div class="img-li">
						<img src="{{ block.settings.grid_image | img_url: 'master' }}"
							alt="{{ block.settings.grid_image.alt | escape }}" />
					</div>
					{% endif %}
					{% if block.settings.hover_image != blank %}
					<div class="mobile-img-li">
						<img src="{{ block.settings.hover_image | img_url: 'master' }}"
							alt="{{ block.settings.hover_image.alt | escape }}" />

						{% if block.settings.icon_image != blank %}
						<img class="icon-image" src="{{ block.settings.icon_image | img_url: 'master' }}"
							alt="{{ block.settings.icon_image.alt | escape }}" />
						{% endif %}
					</div>
					{% endif %}
					<div class="overly">
						<div class="overly-content">
							{% if block.settings.icon_image != blank %}
							<img src="{{ block.settings.icon_image | img_url: 'master' }}"
								alt="{{ block.settings.icon_image.alt | escape }}" />
							{% endif %}
							{% if block.settings.cta_label != blank %}
							<h3>{{ block.settings.cta_label }}</h3>
							{% endif %}
							{% if block.settings.caption_text != blank %}
							{{ block.settings.caption_text }}
							{% endif %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% schema %}
{
  "name": "Image Bar Hover",
  "class": "index-section image-bar-hover",
  "blocks": [
    {
      "type": "image_grid_item",
	  "name": "Image Grid Item",
	  "settings": [
        {
          "type": "image_picker",
		  "id": "hover_image",
		  "label": "Hover Image"
		},
		{
          "type": "image_picker",
		  "id": "grid_image",
		  "label": "Grid Image"
		},
		{
          "type": "image_picker",
		  "id": "icon_image",
		  "label": "Icon Image"
		},
		{
          "type": "textarea",
		  "id": "cta_label",
		  "label": "Caption"
		},
		{
          "type": "richtext",
		  "id": "caption_text",
		  "label": "Caption text"
		}
	  ]
    }
  ],
  "presets": [
    {
      "name": "Image Bar Hover",
      "category": "Custom Block"
    }
  ]
}
{% endschema %}
