<div class="section-specifications">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  <div class="product-section-specifications-item">
    {% include 'product-specifications' %}
  </div>
</div>

<div class="see-all-flours-popup">
	<div class="see-all-flours-popup-container">
		<div class="all-flours-close-popup"></div>
		<div class="see-all-flours-popup-inner">
			<div class="popup-flours-item active">
				<div class="popup-item-title">Recommended flour brands</div>
				<div class="popup-item-content-main">
					<div class="popup-item-content">These flour brands have been tested by our food technicians to provide you the best results when making rotis and puris. We are constantly researching to add more flour brands to this list.</div>

					<div class="flour-brand-details">
						<div class="flour-brand-table">
							<table>
								<thead>
									<tr>
										<th>Flour Name</th>
										<th>Flour Settings</th>
									</tr>
								</thead>
								<tbody>
									{% assign flour_data = settings.flour_data | split: "," %}
									{% for flour in flour_data %}
										<tr>
											<td>{{ flour | split: "|" | first }}</td>
											<td>{{ flour | split: "|" | last }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="popup-flours-item with-blue-bg">
				<div class="popup-item-title">Alternative flour brands </div>
				<div class="popup-item-content-main">
					<div class="popup-item-content">Together with our users, we’ve tested a list of alternative flour brands. For best results, each flour has a recommended setting.</div>

					<div class="flour-brand-details">
						<div class="flour-brand-table">
							<table>
								<thead>
									<tr>
										<th>Flour Name</th>
										<th>Flour Settings</th>
									</tr>
								</thead>
								<tbody>
									{% assign flour_alternative_data = settings.flour_alternative_data | split: "," %}
									{% for flour in flour_alternative_data %}
										<tr>
											<td>{{ flour | split: "|" | first }}</td>
											<td>{{ flour | split: "|" | last }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Product Specifications",
  "class": "products-section products-blue product-specifications-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Specifications"
    }
  ],
  "blocks": [
    {
      "type": "product_specifications",
      "name": "Product Specifications",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Specifications Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Specifications Title",
          "default": "voltage"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Specifications Description",
          "default": "<p>110V (Canada, USA) 220V (Singapore, UK, Australia)</p>"
        },
		{
          "type": "checkbox",
		  "id": "see_all_flours",
		  "label": "See all flours",
		  "info": "Only for one"
		}
      ]
    }
  ]
}
{% endschema %}