{% for block in sb %}
  {% assign b     =     block.settings %}
  {% if block.type == 'product_specifications' %}
    <div class="product-specifications-items">
      <div class="product-specifications-image">
        {% if b.svg != blank %}
          {{ b.svg }}
        {% else %}
          <img class="lazyload"
            src="{{ b.image | img_url: 'master' }}"
            alt="{{ b.image.alt | escape }}"
          >
        {% endif %}
      </div>

      <div class="specifications-description">
        {% if b.title != blank %}
          <h3>{{ b.title }}</h3>
        {% endif %}

        {% if b.text != blank %}
          {{ b.text }}

          {% if b.see_all_flours %}
            <a href="javascript://void(showFloursList);" class="all-flours-popup">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C5.38286 24 0 18.6181 0 12C0 5.38191 5.38286 0 12 0C18.6171 0 24 5.38191 24 12C24 18.6181 18.6171 24 12 24Z" fill="#F68945"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.8 15.6001C10.8 16.2628 11.3372 16.8001 12 16.8001C12.6627 16.8001 13.2 16.2628 13.2 15.6001V10.8001C13.2 10.1374 12.6627 9.6001 12 9.6001C11.3372 9.6001 10.8 10.1374 10.8 10.8001V15.6001Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12.8586 6.33833C13.0862 6.56667 13.2 6.85333 13.2 7.19833C13.2 7.54667 13.0862 7.83333 12.8586 8.06C12.631 8.285 12.3448 8.4 12 8.4C11.6552 8.4 11.369 8.285 11.1414 8.06C10.9138 7.83333 10.8 7.54667 10.8 7.19833C10.8 6.85333 10.9138 6.56667 11.1414 6.33833C11.369 6.11333 11.6552 6 12 6C12.3448 6 12.631 6.11333 12.8586 6.33833Z" fill="white"/></svg>

              See all flours
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}