{%-liquid
  assign scssFile         =     'footer.scss.css' | asset_url
-%}
<link rel="stylesheet" href="{{ scssFile }}">

{%-liquid
  assign social_icons       =   false
  assign inline_list        =   false
  assign locale_selector    =   false
  assign currency_selector  =   false
  assign show_payment_icons =   false
  assign show_selectors     =   false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector      =   true
  endif

  if section.settings.show_locale_selector and shop.published_locales.size > 1
    assign locale_selector        =   true
  endif

  if section.settings.show_payment_icons
    unless shop.enabled_payment_types == empty
      assign show_payment_icons   =   true
    endunless
  endif

  if currency_selector or locale_selector
    assign show_selectors         =   true
  endif

  if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_linkedin_link != blank or request.page_type == 'article' or request.page_type == 'blog'
    assign social_icons           =   true
  endif

  assign payment_width_class      =   "one-half"
  if show_selectors
    unless social_icons
      assign payment_width_class  =   ""
    endunless
  endif

  assign copyright_show_class     =   "medium-up--hide"
  if social_icons
    unless show_selectors
      assign copyright_show_class =   ""
    endunless
  endif

  case section.blocks.size
    when 1
      assign footer_item          =   'site-footer__item--full-width'
      assign inline_list          =   true
    when 2
      assign footer_item          =   'site-footer__item--one-half'
      assign inline_list          =   true
    when 3
      assign footer_item          =   'site-footer__item--one-third'

      for block in section.blocks
        if block.type == 'newsletter'
          assign footer_item      =   'site-footer__item--one-quarter'
          break
        endif
      endfor
    when 4
      assign footer_item          =   'site-footer__item--one-quarter'
    when 5
      assign footer_item          =   'site-footer__item--one-fifth'
  endcase

  comment
    Create an appropriate hover color based on text color and brightness
  endcomment

  assign footer_text_color            =   section.settings.color_footer_text
  assign footer_text_color_brightness =   section.settings.color_footer_text | color_brightness

  if footer_text_color_brightness <= 26
    assign footer_text_color_hover    =   footer_text_color | color_lighten: 25
  elsif footer_text_color_brightness <= 65
    assign footer_text_color_hover    =   footer_text_color | color_lighten: 15
  else
    assign footer_text_color_hover    =   footer_text_color | color_darken: 10
  endif
-%}

<style>
  .site-footer__hr {
    border-bottom: 1px solid {{ section.settings.color_footer_bg | color_darken: 10 }};
  }

  .site-footer p,
  .site-footer__linklist-item a,
  .site-footer__rte a,
  .site-footer h4,
  .site-footer__copyright-content a,
  .site-footer__newsletter-error,
  .site-footer__social-icons .social-icons__link {
    color: {{ section.settings.color_footer_text }};
  }

  .site-footer {
    color: {{ section.settings.color_footer_text }};
    background-color: {{ section.settings.color_footer_bg }};
  }

  .site-footer__rte a {
    border-bottom: 1px solid {{ section.settings.color_footer_text }};
  }

  .site-footer__rte a:hover,
  .site-footer__linklist-item a:hover,
  .site-footer__copyright-content a:hover {
    color: {{ footer_text_color_hover }};
    border-bottom: 1px solid {{ footer_text_color_hover }};
  }

  .site-footer__social-icons .social-icons__link:hover {
    color: {{ footer_text_color_hover }};
  }

  {% if template == 'index' %}
    .site-footer {
      margin-top: 0;
    }
  {% endif %}
</style>


{%- capture payment_icon_markup -%}
  {%- if show_payment_icons -%}
    <div class="grid__item site-footer__payment-icons">
      <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
      <ul class="payment-icons list--inline site-footer__icon-list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="payment-icon">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endcapture -%}

<footer class="site-footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <script type="text/javascript" src="/services/javascripts/currencies.js" data-no-instant></script>
  {%- comment -%}
    NAJAM
    <script type="text/javascript" src="{{ 'jquery.currencies.min.js' | asset_url }}" data-no-instant></script>
  {%- endcomment -%}

<script type="text/javascript">

  {% if settings.currency_format %}
    Currency.format = '{{ settings.currency_format }}';
  {% endif %}

  var shopCurrency = '{{ shop.currency }}';

  /* Sometimes merchants change their shop currency, let's tell our JavaScript file */
  // Currency.money_with_currency_format[shopCurrency] = `${ shopCurrency }`;
  Currency.money_with_currency_format[shopCurrency] = {{ shop.money_with_currency_format | strip_html | json }};
  Currency.money_format[shopCurrency] = {{ shop.money_format | strip_html | json }};

  /* Default currency */
  // var defaultCurrency = shopCurrency;
  var defaultCurrency = '{{ settings.default_currency }}' || shopCurrency;

  if ($(window).width() >= 768) {
    var $currencySelector = $(".top_bar .currencies");
  } else {
    var $currencySelector = $("#mobile_menu .currencies");
  }

  /* Cookie currency */
  var cookieCurrency = Currency.cookie.read();

  /* Fix for customer account pages */
  $('span.money span.money').each(function() {
    $(this).parents('span.money').removeClass('money');
  });

  /* Saving the current price */
  $('span.money').each(function() {
    $(this).attr('data-currency-{{ shop.currency }}', $(this).html());
  });


  // If there's no cookie.
  if (cookieCurrency == null) {
    if (shopCurrency !== defaultCurrency) {
      Currency.convertAll(shopCurrency, defaultCurrency);
    }
    else {
      Currency.currentCurrency = defaultCurrency;
    }
  }
  // If the cookie value does not correspond to any value in the currency dropdown.
  else if ($currencySelector.length && $currencySelector.find('option[value=' + cookieCurrency + ']').length === 0) {
    Currency.currentCurrency = shopCurrency;
    Currency.cookie.write(shopCurrency);
  }
  else if (cookieCurrency === shopCurrency) {
    Currency.currentCurrency = shopCurrency;
  }
  else {
    Currency.convertAll(shopCurrency, cookieCurrency);
  }

  $currencySelector.val(Currency.currentCurrency).change(function() {
    var newCurrency = $(this).val();
    Currency.convertAll(Currency.currentCurrency, newCurrency);
    jQuery('.selected-currency').text(Currency.currentCurrency);
  });

  var original_selectCallback = window.selectCallback;
  var selectCallback = function(variant, selector) {
    original_selectCallback(variant, selector);
    Currency.convertAll(shopCurrency, $currencySelector.val());
    jQuery('.selected-currency').text(Currency.currentCurrency);
  };

  function convertCurrencies() {
    if($currencySelector.val() && $currencySelector.val() != $currencySelector.data('default-shop-currency')) {
      Currency.convertAll($currencySelector.data('default-shop-currency'), $currencySelector.val());
      jQuery('.selected-currency').text(Currency.currentCurrency);
    }
  }

</script>
  <div class="page-width">
    <div class="site-footer__content">
      {%- for block in section.blocks -%}

        <div class="site-footer__item
          {% if section.blocks.size == 1 %} site-footer__item--center{% endif %}
          {{ footer_item }}
          {% if block.type == 'newsletter' and section.blocks.size == 3 %}site-footer-newsletter__one-half{% endif %}
          {% if block.type == 'social'%}site-footer__social_____{% endif %}"
          {{ block.shopify_attributes }}
        >
          <div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">

            {%- if block.settings.title -%}
              <p class="h4">{{ block.settings.title | escape }}</p>
            {%- endif -%}

            {%- case block.type -%}
              {%- when 'newsletter' -%}
                <div class="site-footer__newsletter
                          {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                  {%- assign formId = 'ContactFooter' -%}
                  {% form 'customer', id: formId, novalidate: 'novalidate' %}
                    {%- if form.posted_successfully? -%}
                      <p class="form-message form-message--success" tabindex="-1" data-form-status>
                        {{ 'general.newsletter_form.confirmation' | t }}
                      </p>
                    {%- endif -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                      <input type="email"
                        name="contact[email]"
                        id="{{ formId }}-email"
                        class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                        value="{{ form.email }}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-required="true"
                        required
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ formId }}-email-error"
                          data-form-status
                        {% endif %}>
                      <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                        </button>
                      </span>
                    </div>
                    {% if form.errors contains 'email' %}
                      <span id="{{ formId }}-email-error" class="input-error-message">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                      </span>
                    {% endif %}
                  {% endform %}
                </div>

              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <div class="site-footer__rte
                    {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                    {{ block.settings.text }}
                  </div>
                {%- endif -%}

              {%- when 'link_list' -%}
                {%- assign footer_linklist = block.settings.menu -%}
                  <ul class="site-footer__linklist
                            {% if inline_list %}list--inline{% endif %}">
                    {%- for link in linklists[footer_linklist].links -%}
                      <li class="site-footer__linklist-item">
                        <a href="{{ link.url }}"
                          {% if link.current %} aria-current="page"{% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>

              {%- when 'social' -%}
              {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo Linkedin" | split: ' ' -%}
              {%- if social_icons -%}
                <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
                  {%- for social in socials -%}
                    {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                    {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
                    {%- if settings[social_link] != blank -%}
                      <li class="social-icons__item">
                        <a class="social-icons__link" href="{{ settings[social_link] | escape }}" target="_blank" aria-describedby="a11y-external-message">
                          {%- include icon_link -%}
                          <span class="icon__fallback-text">{{ social }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}

                  {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
                    <li>
                      <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                        {% include 'icon-rss' %}
                        <span class="icon__fallback-text">RSS</span>
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              {%- endif -%}
            {%- endcase -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>

  <div class="page-width">
    <div class="grid grid--no-gutters">
      <div class="grid__item small--one-whole {{ copyright_show_class }}">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }} Zimplistic Pte Ltd. All Rights Reserved.</small>
      </div>

      <div class="footer-bottom-menu">
        <ul class="site-footer__linklist">
          {%- assign footer_bottom_linklist = section.settings.footer_bottom -%}
          {%- for link in linklists[footer_bottom_linklist].links -%}
            <li class="site-footer__linklist-item">
              <a href="{{ link.url }}" {% if link.current %} aria-current="page"{% endif %} >
                {{ link.title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</footer>


{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": "Background",
      "default": "#f6f6f6"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": "Text",
      "default": "#333232"
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "link_list",
      "id": "footer_bottom",
      "label": "Footer Bottom Menu"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your business"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": "Newsletter signup",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
          "default": "Newsletter"
        }
      ]
    },
    {
      "type": "social",
      "limit": 1,
      "name": "social_links",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow us"
        }
      ]
    }
  ]
}
{% endschema %}
