{{ 'weo-custom.css' | asset_url | stylesheet_tag }}

<div class="page-technology">
        {{ page.content }}
</div>
{{ "jquery-lib.js" | asset_url | script_tag }}
{{ "slick.min.js" | asset_url | script_tag }}
{{ "weo-custom.js" | asset_url | script_tag }}
<script>
	$( ".faq-q" ).click(function() {
		$(this)
			.parent()
			.siblings()
			.find(".faq-q")
			.removeClass('active');

		$(this)
			.toggleClass('active');

		$(this)
			.parent()
			.siblings()
			.find(".faq-a")
			.slideUp(300);

		$(this)
			.parent()
			.find(".faq-a")
			.slideToggle(300);
	})
</script>