<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
	  <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0517/5391/0426/files/favicon_32x32.png?v=1608456643" type="image/png">
    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script type='text/javascript'>
      window.__lo_site_id = 271843;
      (function() {
        var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
        wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
      })();
    </script>
  </head>
  <body>
    {%-liquid
      capture dontUse
        form 'localization'
          assign currentCurrency    =   form.current_currency.iso_code
          assign currencySymbol     =   form.current_currency.symbol
        endform
      endcapture

      assign removeCurrencyFromOrderSummary   =   ' / ' | append: currentCurrency
    -%}
    {% if settings.customizationActive %}
      <link rel="stylesheet" href="{{ '__checkout.scss.css' | asset_url }}">
      {%-liquid
        capture getProductIDs
          for item in checkout.line_items
            echo item.product_id
            unless forloop.last
              echo ','
            endunless
          endfor
        endcapture

        capture getSku
          for item in checkout.line_items
            echo item.sku
            unless forloop.last
              echo ','
            endunless
          endfor
        endcapture
      -%}
      <script>
        const currencySymbol        =   `{{ currencySymbol }}`;
        const currentCurrency       =   `{{ currentCurrency }}`;
        const orderData             =   {
          "product"   :   "{{ getProductIDs }}",
          "sku"       :   "{{ getSku }}",
          "user"      :   "{{ checkout.email }}"
        }
        const checkoutData          =   {
          "id"        :   "{{ checkout.id }}"
        }

        const prefill               =   {
          "name"      :   "{{ checkout.customer.name }}",
          "email"     :   "{{ checkout.email }}",
          "contact"   :   "{{ checkout.shipping_address.phone }}"
        }

        const theme                 =   {
          "color"     :   "#f68945"
        }
      </script>
      <script src="{{ 'jquery_3.5.1_.min.js' | asset_url }}"></script>
      <script src="{{ 'checkout.js' | asset_url }}"></script>

      {% if checkout.order_id != blank and checkout.order_name != blank and checkout.email != blank %}
        <script>
          const orderId       =   `{{ checkout.order_id }}`;
          const orderName     =   `{{ checkout.order_name }}`;
          const orderemail    =   `{{ checkout.email }}`;

          $(document).ready(async function () {

            const getShipCountry      =   localStorage.getItem( `__shipCountry__` );

            if ( getShipCountry === 'India' ) {

              $( `.payment-method-list__item .payment-method-list__item__info` ).text( `{{ settings.codReplaceWith }}` );

              let razorPayResponse  =   sessionStorage.getItem( `__razorResponse__` );

              if ( typeof razorPayResponse !== 'undefined' && razorPayResponse ) {

                razorPayResponse    =   JSON.parse( razorPayResponse );

              }
              console.log ( 'call to api' );

              console.log ( 'orderId', orderId );
              console.log ( 'orderName', orderName );
              console.log ( 'orderemail', orderemail );

              console.log ( 'changed text Cash on delivery to Razor pay' );
              console.log ( 'razorPayResponse', razorPayResponse );

            }

          });
        </script>
      {% endif %}

    {% endif %}
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary | remove: removeCurrencyFromOrderSummary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
