<section class="warranty_steps">
  <div class="page-width">
    <div class="_wrapper_">
      <h3 class="_heading_">
        {{ 'pages.warranty.steps_1' | t }}
      </h3>

      <div class="_stepsIconsBlock">
        <div class="_item">
          <div class="_circle_">
            <img src="{{ 'warranty_step1_icon.png' | asset_url }}">
          </div>

          <div class="_title_">
            {{ 'pages.warranty.steps_2' | t }}
          </div>
          <div class="_content_">
            {{ 'pages.warranty.steps_3_html' | t:email: 'support@zimplistic.com' }}
          </div>
        </div>
        <div class="_item">
          <div class="_circle_">
            <img src="{{ 'warranty_step2_icon.png' | asset_url }}">
          </div>

          <div class="_title_">
            {{ 'pages.warranty.steps_4' | t }}
          </div>
          <div class="_content_">
            {{ 'pages.warranty.steps_5' | t }}
          </div>
        </div>
        <div class="_item">
          <div class="_circle_">
            <img src="{{ 'warranty_step3_icon.png' | asset_url }}">
          </div>

          <div class="_title_">
            {{ 'pages.warranty.steps_6' | t }}
          </div>
          <div class="_content_">
            {{ 'pages.warranty.steps_7' | t }}
          </div>
        </div>
        <div class="_item">
          <div class="_circle_">
            <img src="{{ 'warranty_step4_icon.png' | asset_url }}">
          </div>

          <div class="_title_">
            {{ 'pages.warranty.steps_8' | t }}
          </div>
          <div class="_content_">
            {{ 'pages.warranty.steps_9' | t }}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
