{%- comment -%}
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
{%- endcomment -%}
<div class="recipes_slider" loading="true">
  <div class="sliderWrapper">
    <div class="slide">
      <h2>Homemade with love</h2>
      <img src="{{ 'recipes_slide_01.jpg' | asset_url }}" alt="Homemade with love" class="slideImg">
    </div>
    <div class="slide">
      <h2>Indulge in the endless possibilities</h2>
      <img src="{{ 'recipes_slide_02.jpg' | asset_url }}" alt="Indulge in the endless possibilities" class="slideImg">
    </div>
    <div class="slide">
      <h2>Get inspired to create</h2>
      <img src="{{ 'recipes_slide_03.jpg' | asset_url }}" alt="Get inspired to create" class="slideImg">
    </div>
    <div class="slide">
      <h2>Fresh and hearty ingredients</h2>
      <img src="{{ 'recipes_slide_04.jpg' | asset_url }}" alt="Fresh and hearty ingredients" class="slideImg">
    </div>
    <div class="slide">
      <h2>Inspirations for cooking with Rotimatic</h2>
      <img src="{{ 'recipes_slide_05.jpg' | asset_url }}" alt="Inspirations for cooking with Rotimatic" class="slideImg">
    </div>
  </div>
</div>